[2015-01-14 09:12] cdybedahl opened #10 "dnssec11 does not always give consistent results"
Problem detected for domain daemonic.se, Calle has a data file.

[2015-01-15 10:24] pawal opened #11 "Test issue"
_From @pawal on January 15, 2015 10:20_

Ignore this. We are trying to move issues between repos. This is a test.

_Copied from original issue: dotse/zonemaster#296_

[2015-01-15 10:24] pawal commented on #11
_From @joelpurra on January 15, 2015 10:23_

@pawal: ping!

[2015-01-15 10:25] #11 closed

[2015-01-15 12:49] pawal opened #12 "Bug in Zonemaster::Test::Syntax (syntax04, syntax07 and syntax08)"
_From @vlevigneron on October 14, 2014 15:28_

With very broken testing zones zone02.zut-root.rd.nic.fr and zone01.zut-root.rd.nic.fr (look at SOA MNAME, MX AND NS list) I discovered that the '.' case was not properly handled... I'll fix it today and will add proper error messages for that new cases...

_Copied from original issue: dotse/zonemaster#107_

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on October 14, 2014 17:6_

The following error codes hve been added and here is the proposed severity level.

      "MNAME_IS_ROOT" : "ERROR",
      "MNAME_NON_ALLOWED_CHARS" : "ERROR",
      "NAMESERVER_IS_ROOT" : "ERROR",
      "NAMESERVER_NON_ALLOWED_CHARS" : "ERROR",
      "MX_IS_ROOT" : "ERROR",
      "MX_NON_ALLOWED_CHARS" : "ERROR",

We already have the following one in t

[2015-01-15 12:49] pawal commented on #12
_From @einar on October 15, 2014 7:30_

Vincent please take into consideration the documented error levels here:

"https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/SeverityLevelDefinitions.md". I really do not see how you could have these levels on these messages as they will most certainly "go unnoticed by the user" and probably has zero impact on the function of the zone

[2015-01-15 12:49] pawal commented on #12
_From @cdybedahl on October 15, 2014 7:35_

Why does there need to be special cases for root at all? Is this something that Zonecheck does?

[2015-01-15 12:49] pawal commented on #12
_From @cdybedahl on October 15, 2014 7:57_

There is no support for the *_IS_ROOT messages in either the requirements or specifications.

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on October 15, 2014 8:49_

I agree that all return values should have been specified in test
specifications to have common discussions on each of them.

le 15 oct., Calle Dybedahl a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on October 15, 2014 8:52_

I guess this is a wording issue, the roor is not the issue but do we
consider that that kind of zone should not raise a warning oe notice
message  ?

; <<>> DiG 9.9.0-RedHat-9.9.0-4.fc17 <<>> +multi
zone02.zut-root.rd.nic.fr mx
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 26002
;; flags: qr rd ra; QUERY: 1,

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on October 15, 2014 9:10_

le 15 oct., Einar Lönn a ?crit :

That's exactly why I asked a review on these new error codes. I chose
the default in compliance with "NON_ALLOWED_CHARS" which share some
similarities with these errors.

Are you sure you would have noticed these new codes I I had chosen a
"INFO" level ?

By the end of this month we should compare policy version we had

[2015-01-15 12:49] pawal commented on #12
_From @cdybedahl on October 15, 2014 9:10_

A zone with . listed as an NS should fail nameserver06 (name cannot be resolved). For MX, we've chosen to only test that such a record exists and does not point at a CNAME. Adding a test that the MX actually resolves to an address would make sense, perhaps. Special-casing for the root zone does not make sense, since the problem isn't that it's the root z

[2015-01-15 12:49] pawal commented on #12
_From @cdybedahl on October 15, 2014 9:17_

No, because you put their addition in a couple of commits totaling almost 2000 lines of changes and with the commit messages "Zonemaster::Test::Connectivity french translation, Unit tests" and "Zonemaster::Test::Syntax french translation". Neither of those make it at all obvious that entirely new messages were being added and new tests suggested, and the

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on October 15, 2014 9:18_

That's what I said, it's just a wording/level issue. If I change, "_IS_ROOT", by "_IS_DOT" or even something completely different, no matter, do you feel more comfortable ? I guess we should at least notice the user of these specific cases ?

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on October 15, 2014 9:27_

That's why I opened this issue with the list of new return codes with
there proposed severity level...
*
le 15 oct., Calle Dybedahl a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2015-01-15 12:49] pawal commented on #12
_From @cdybedahl on November 3, 2014 14:41_

This issue is, as I understand it, blocked on a discussion about if we should add a special test to see if various RDATA fields holding domain names are set to the root zone. As such, I don't think it should block the alpha release (and probably be postponed to after 1.0).

[2015-01-15 12:49] pawal commented on #12
I changed this to Post-1.0 pending any clarifying discussion on the issue.

[2015-01-15 12:49] pawal commented on #12
_From @vlevigneron on November 3, 2014 14:51_

I agree it can be postponed. While results when this kind of case happens are rather
"confusing", this is not a bug and it can be seen as an improvement to clarify messages in a future
version.

le 03 nov., Calle Dybedahl a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2015-01-21 15:38] pawal opened #13 "DNSSEC signature expire"
_From @tobbe-eklov on January 21, 2015 8:7_

Hi, I miss the DNSSEC signature expire who dnscheck prints out.

Example from dnscheck
INFO DNSSEC signature expires at: Fri Mar  6 15:35:01 2015

It would be nice to have it printed out when in
--level INFO --raw
mode and with SOA and DNSKEY's separate printed out

And if expire for NS, MX and ev. www RR also is printed out it's great!

/Tobbe

_Copied

[2015-01-22 08:57] pawal opened #14 "Classless in-addr.arpa"
_From @tobbe-eklov on January 22, 2015 7:36_

Hi, sometime's it fails with in-addr.arpa

Ex.

zonemaster-cli --level INFO --raw torsas.se

gives:

 3.53 WARNING   ADDRESS:NAMESERVER_IP_WITHOUT_REVERSE address=62.20.107.197, ns=dns.torsas.se

But there is a classless in-addr.arpa

host 62.20.107.197
197.107.20.62.in-addr.arpa is an alias for 197.192-27.107.20.62.in-addr.arpa.
197.192-27.107.20.62.i

[2015-01-28 08:44] pawal commented on #14
Have you tried this fix @tobbe-eklov?

[2015-01-28 09:26] tobbe-eklov commented on #14
Yep, it seems to work ok!

/Tobbe

[2015-01-28 09:29] #14 closed

[2015-01-30 08:27] pawal opened #16 "EDCSA support when OpenSSL is compiled without ECDSA"
Now when Cloudflare is running with ECDSA, I tested their test domain with Zonemaster. It worked well, as expected. However, some distributions that ship OpenSSL disables ECDSA due to patent reasons (or whatever) - what happens with Zonemaster when it uses an OpenSSL without ECDSA?

Their test domain is cloudflare-dnssec-auth.com, see this blog post:
https://blog.cloudflare.com/help-us-test-our-dn

[2015-01-30 08:30] cdybedahl commented on #16
I think the DNSSEC test module will crash (which gets reported as a CRITICAL level problem) when it tries to verify the signature, but I'm not sure and I have not investigated the issue.

[2015-01-30 08:48] pawal commented on #16
It should not crash when seeing unknown (for some degree of unknown) algorithms. What will happen if it sees algorithm ... 4711?

[2015-01-30 08:50] pawal opened #17 "Test Nameserver/nameserver03 can hang"
Taken from KNOWN_ISSUES:

[2015-01-30 08:51] pawal opened #18 "Test Delegation/delegation03 is unreliable"
Taken from KNOWN_ISSUES:

[2015-01-30 08:52] cdybedahl commented on #16
Zonemaster will do what Net::LDNS does, which will do what ldns does, which will do what OpenSSL does. If OpenSSL reports a sensible error (which I have a vague memory that it doesn't for GOST), that should percolate up the chain into a failure to validate.

[2015-01-30 08:57] cdybedahl commented on #18
This and issue #19 are not bugs in Zonemaster, they are bugs in ldns. Is it really useful to have them as issues here? Do you think we should try to do workarounds for them? If I had the time, I would like to investigate folding the parts of ldns we actually use into the Net::LDNS C code instead of relying on an external library.

[2015-01-30 09:04] pawal commented on #18
I think it is easier to track issues with the Zonemaster software (and its dependencies) if they are documented here.

[2015-02-02 13:14] pawal commented on #10
@cdybedahl - can you attach the data file to this issue, and explain the issue?

[2015-02-02 13:28] cdybedahl commented on #10
No, Github only allows attaching images (as far as I was able to find out, at least). The issue is partly a missing sort when extracting hash keys, and partly bad thinking on my part when implementing the control flow. The first causes the inconsistent results (when using a Perl version of 5.18 or later), the latter makes it possible for the test to report both pass and fail.

[2015-02-03 10:04] pawal opened #19 "Add support for test profiles"
In addition to using different policies, we need support for additional test profiles. We need to group tests that is going to be executed based on a test profile.

I.e. an IANA test profile will not execute other tests than those needed to execute exactly those test cases.

[2015-02-03 12:46] bortzmeyer opened #20 "Cannot install on ArchLinux"
I tried an installation on ArchLinux but it failed. The following commands seem to fulfill all prerequisites:

[code]

After that, ` perl makefile.PL`is happy. But `make test`  fails:

[code]

[2015-02-03 12:51] sandoche2k commented on #20
Can you provide the version of Arch Linux?

[2015-02-03 12:55] bortzmeyer commented on #20
ArchLinux is a "rolling release" system, so "version" means nothing. It was just up-to-date.

[2015-02-03 13:06] cdybedahl commented on #20
The first failed test assumes there will not be a name server responding to queries on address 127.0.0.17. I guess that was a bad choice. The second failure is a follow-on from the first. The third failure assumes that it will take less than a full second to start up the logging and translation systems.

[2015-02-03 13:10] bortzmeyer commented on #20
Indeed, there was a Unbound running on the machine.

Also, a Raspberry Pi takes a lot of time to start Zonemaster :-}

[2015-02-03 13:16] cdybedahl commented on #20
I (or someone) will fix these later. For right now, it's definitely safe to force the install. Also, now I'm tempted to dig out my own Pi and have a go :-)

[2015-02-04 08:59] pawal opened #22 "Spurious "Delegation from parent to child is not properly signed (no_dnskey)""
_From @bortzmeyer on February 2, 2015 11:0_

[code]

I do not see where the problem comes from. Most other TLD have no issues, even TLD of the same operator such as pm or yt. But wf exhibits the same error.

_Copied from original issue: dotse/zonemaster#326_

[2015-02-04 08:59] pawal commented on #22
_From @vlevigneron on February 3, 2015 10:45_

Just look at zonemaster-cli results. No idea yet where it comes from but it now works for .fr, and the same strange behaviour occurs with .pm. Will work on it soon.

[2015-02-04 08:59] pawal commented on #22
This is probably the same as https://github.com/dotse/zonemaster-engine/issues/10.

[2015-02-04 08:59] pawal commented on #22
_From @vlevigneron on February 3, 2015 12:39_

It's linked, but not sure this is the same. In this case, I suspect we display messages during domain analysis, but in this case, final result can be different from intermediate results...

[2015-02-04 08:59] pawal commented on #22
_From @vlevigneron on February 3, 2015 12:47_

Sorry Calle, just read the code and see your comment... :-)

[2015-02-04 09:00] pawal opened #23 "Parallel tests"
_From @pawal on January 30, 2015 9:55_

This issue was also documented in the [WishList for Version 2.0](https://github.com/dotse/zonemaster/blob/master/docs/requirements/WishList.md).

In order to increase the performance of Zonemaster, we talked about running tests in parallell rather than in sequence.

_Copied from original issue: dotse/zonemaster#322_

[2015-02-04 09:00] pawal commented on #23
_From @cdybedahl on January 30, 2015 9:57_

If we rewrite the whole thing in Erlang this would just fall out naturally :-)

[2015-02-04 09:01] pawal opened #24 "Alert if no NS is available in IPv4 or IPv6"
_From @pawal on January 30, 2015 9:53_

This issue was also documented in the [WishList for Version 2.0](https://github.com/dotse/zonemaster/blob/master/docs/requirements/WishList.md).

 * Alert if no NS is available in IPv4
 * Alert if no NS is available in IPv6

_Copied from original issue: dotse/zonemaster#319_

[2015-02-04 09:01] pawal opened #25 "Alert if the domain does not use DNSSEC"
_From @pawal on January 30, 2015 9:52_

This issue was also documented in the [WishList for Version 2.0](https://github.com/dotse/zonemaster/blob/master/docs/requirements/WishList.md).

Alert if the domain does not use DNSSEC. Is this relevant?

_Copied from original issue: dotse/zonemaster#318_

[2015-02-04 09:01] pawal commented on #25
_From @sandoche2k on February 1, 2015 18:51_

This was an input from Kim Minh Kaplan.

The idea is to inform the clients about good practice. We can discuss
whether we want to do DNS evangelism or not during F2F :-)

On 30 January 2015 at 10:52, Patrik Wallström <notifications@github.com>
wrote:

[2015-02-04 09:01] pawal commented on #25
Low message level, NOTICE?

[2015-02-04 09:02] pawal opened #26 "Remove the dependency on ldns"
_From @cdybedahl on January 30, 2015 9:37_

As a diagnostic tool, it is important for Zonemaster to have good control over the queries it sends and what happens to packets it receives. This is the reason we abandoned the `Net::DNS` module, and instead wrote our own `Net::LDNS`. This helped a lot, but there is still a dependency on code maintained outside our project (NLnet Labs' `ldns`). While it

[2015-02-04 12:54] sandoche2k commented on #25
Yes.. (As confirmed during F2F meeting)

On 4 February 2015 at 10:01, Patrik Wallström <notifications@github.com>
wrote:

[2015-02-06 09:51] tobbe-eklov opened #27 "NAMESERVER:IS_A_RECURSOR but it isn't"
Ex. the arpa. zone gives NAMESERVER:IS_A_RECURSOR when the DNS isn't a open resolver.

NAMESERVER:IS_A_RECURSOR address=198.41.0.4, dname=xx--domain-cannot-exist.xx--illegal-syntax-tld, ns="a.root-servers.net"

/Tobbe

[2015-02-06 14:25] mtoma opened #28 "Zonecheck fails on the domain c-discount.hu, Zonemaster doesn't"
Zonemaster doesn't see any problem for that zone.
Here is the zonecheck output:
onecheck c-discount.hu
ZONE  : c-discount.hu
NS <= : a4.nstld.com [209.112.113.33]
NS    : f4.nstld.com [69.36.145.33]
NS    : g4.nstld.com [209.112.114.33]
NS    : l4.nstld.com [209.112.114.33]

       _____________
     ,-------------.|
[code]

[2015-02-06 14:28] pawal commented on #28
DNSCheck does not have any problems with that zone either.

[2015-02-06 14:40] mtoma commented on #28
Zonemaster, in fact detects, the same IP nameservers at notice level, so this is at most a policy issue:
zonemaster-cli c-discount.hu
Seconds Level     Message
======= ========= =======
   6.70 NOTICE    193.239.148.1 returned no DS records for c-discount.hu.
   6.71 NOTICE    IP 209.112.114.33 refers to multiple nameservers (g4.nstld.com;l4.nstld.com).

[2015-02-06 14:42] mtoma commented on #28
If we all agree that this shouldn't be at least a warning than this issue can be closed.
Sandoche?

[2015-02-06 14:51] pawal commented on #28
The test case "DELEGATION02: Name servers must have distinct IP addresses" indicates that this test case should not pass.

Correctly, the delegation level indicates there is a problem with it, but with a NOTICE level:

   7.43 DEBUG     SYSTEM:MODULE_VERSION module=Zonemaster::Test::Delegation, version=v1.0.0
   7.43 INFO      DELEGATION:ENOUGH_NS_GLUE count=4, glue=a4.nstld.com;f4.nstld.com;g4.ns

[2015-02-09 08:37] cdybedahl commented on #28
Not that I know of, but it's quite easy to produce a list of tags to what function produces them, which works as long as all functions are named after test specs.

[code]

[2015-02-09 08:43] cdybedahl commented on #20
All those are already listed in Makefile.PL as prerequisites, so they should get pulled in automatically. Although it occurs to me that I've only tried automatic installation with App::cpanminus, not with oldschool CPAN.pm.

[2015-02-09 09:05] cdybedahl commented on #27
We could special-case the root servers to avoid this problem. Offhand, I'm not sure if it's worth the extra code complexity.

[2015-02-09 09:33] pawal commented on #27
Do we now how many TLD:s are hosted by the root servers?

[2015-02-09 13:10] cdybedahl commented on #27
Of the TLDs listed at http://data.iana.org/TLD/tlds-alpha-by-domain.txt, .ARPA is the only one that has NS names ending with root-servers.net. Haven't checked by IP address, though.

[2015-02-09 13:54] cdybedahl commented on #19
I'm trying to figure out how we can implement this with the smallest possible change to existing code. The best I can think of is to require all test implementations to look up in the global configuration if a particular test should be performed before running it. Given that we currently have 54 test implementations, it's still a noticeable amount of work.

[2015-02-09 14:28] cdybedahl commented on #23
The more I think about this, the more problems I have with it.

* Currently tests work against objects that look up things in DNS lazily, that is only when they're actually needed. Combining this behavior with several test modules running at the same time is going to be quite interesting.
* How is the progress thing in the web GUI going to deal with the answer to the question "Which test is runnin

[2015-02-09 15:42] sandoche2k opened #29 "Substitution translation issue"
![image](https://cloud.githubusercontent.com/assets/5484470/6109333/7ffb916e-b07a-11e4-866b-95b999f8193c.png)

The issues has been informed via twitter.

[2015-02-09 16:10] #22 closed

[2015-02-10 07:45] #29 closed

[2015-02-10 08:08] tobbe-eklov commented on #27
It's only .arpa who use them according to zonemaster and http://tldwithdnssecandipv6.se/ so I make a "grep -v arpa" in my script where I fetch all TLD's.

[2015-02-10 10:10] #10 closed

[2015-02-17 14:03] cdybedahl commented on #19
So if a policy says that, for example, dnssec05 should not be run, which of these does that mean:

* dnssec05 should not be included when the DNSSEC module is asked to run all tests, but it can be run explicitly.
* dnssec05 must not be run at all, even if specifically requested (with `Zonemaster::test_method()`)?

[2015-02-17 16:15] cdybedahl commented on #19
basic00, basic01 and basic02 will not be optional. basic03 will be.

[2015-02-18 08:17] #19 closed

[2015-02-18 09:17] cdybedahl commented on #26
Done with the release of Net::LDNS v0.71 to CPAN.

[2015-02-18 09:17] #26 closed

[2015-02-18 09:21] cdybedahl commented on #16
As of v0.71, Net::LDNS will no longer compile without proper support for ECDSA, making this issue moot. GOST support is still not quite as required, but at least a warning will be printed if Net::LDNS is compiled without it.

[2015-02-18 09:46] #17 closed

[2015-02-18 09:46] #18 closed

[2015-02-18 09:48] cdybedahl commented on #28
If there actually is something here to fix, specify what when re-opening the issue.

[2015-02-18 09:48] #28 closed

[2015-02-18 09:54] cdybedahl commented on #27
Given that this issue only happens for zones that are hosted on the root servers, I'll close it for now. If it shows up again, we put in a guard for the special case then.

[2015-02-18 09:54] #27 closed

[2015-02-18 10:00] cdybedahl commented on #25
In this as well as issue #24, what does "alert" mean? For this issue, there are already messages emitted for a lack of DS, a lack of DNSKEY and for a non-working signed delegation. If none of those are enough to count as "Alert if the domain does not use DNSSEC", what would be?

[2015-02-18 10:01] #20 closed

[2015-02-18 10:16] cdybedahl commented on #25
So in other words, it's entirely a user interface thing and should not be an issue in zonemaster-engine.

[2015-02-18 10:19] sandoche2k commented on #25
You are right.
On Feb 18, 2015 11:16 AM, "Calle Dybedahl" <notifications@github.com> wrote:

[2015-02-18 10:26] #25 closed

[2015-02-18 10:26] #24 closed

[2015-02-18 10:32] cdybedahl commented on #16
Do we know of any zone that uses DNSSEC with a GOST algorithm?

[2015-02-18 14:29] sandoche2k opened #34 "A recent clean installation of zonemaster-engine on ubuntu 14.0.4 fails"
make test
cp lib/Zonemaster/Logger/Entry.pm blib/lib/Zonemaster/Logger/Entry.pm
cp lib/Zonemaster/Nameserver/Cache.pm blib/lib/Zonemaster/Nameserver/Cache.pm
cp lib/Zonemaster/Test/Nameserver.pm blib/lib/Zonemaster/Test/Nameserver.pm
cp lib/Zonemaster/Test/Address.pm blib/lib/Zonemaster/Test/Address.pm
cp lib/Zonemaster/Translator.pm blib/lib/Zonemaster/Translator.pm
cp lib/Zonemaster/Test/Connect

[2015-02-18 14:58] #34 closed

[2015-02-18 16:15] bortzmeyer opened #36 "Several algorithms in DS or DNSKEY RRsets, Zonemaster should warn"
Several algorithms in DS or DNSKEY RRsets, and consequences
===========================================================

The problem was noticed on cepn.asso.fr (the configuration changed
since). Some resolvers or DNS checkers complained about its setup,
while other accepted it. What was right?

Setup
-----

The zone had the following DNSKEY RRset:

[code]

There are two keys, both with the same a

[2015-02-18 16:19] cdybedahl commented on #36
This needs to be sorted out at the specification level before any changes are made in the test engine. @pawal, can you move the issue to the zonemaster repo?

[2015-02-18 18:28] pawal commented on #36
This issue was moved to dotse/zonemaster#344

[2015-02-18 18:28] #36 closed

[2015-02-19 07:28] pawal commented on #16
My research gave me two: caint.su and xn--d1aiqdcn1f.xn--p1ai

From the logs of testing caint.su:

[code]

and

[code]

However, both also uses an algorithm that we can use (RSA-SHA1 or RSA-SHA-256), which gives us a case for this issue of checking multiple algorithms: https://github.com/dotse/zonemaster/issues/231

[2015-02-20 12:19] pawal opened #38 "No DNSSEC tests are performed when no DS is published at parent"
If there is no DS record present at the parent zone, no DNSSEC tests at all are performed. This is not according to specification.

[2015-02-20 12:30] pawal commented on #38
The DNSSEC tests in this case only execute if I specify then directly like this:

    zonemaster-cli --level DEBUG --test DNSSEC/dnssec10 example.com

[2015-02-20 13:15] cdybedahl commented on #38
Which specification covers this behavior?

[2015-02-20 13:26] pawal commented on #38
dnssec01 and dnssec02 should only be executed if there is a DS published at the parent, but the other tests in the DNSSEC TP do not have those "Special procedural requirements" or "Intercase dependencies" and should be executed regardless of if there is a DS present or not.

[2015-02-20 13:36] cdybedahl commented on #38
I'm still curious which specification it's not according to. The reasoning behind the current behavior is that a lack of a DS record is a signal that DNSSEC is not desired, and therefore should not be tested. I remember discussing this some time last year, but can't remember where, when or with who...

I have no problem with changing to the behavior you describe, but given that there is more than

[2015-02-20 14:26] pawal commented on #38
The reason for testing without DS is that many users use this type of software to see that everything in the zone works. Forcing the user to do pre-delegation testing for testing signatures from a DNSKEY already in the zone is not very user-friendly.

Broken signatures in a zone with a DNSKEY is something that will break the zone if anybody tries to validate the zone using that DNSKEY - for exampl

[2015-02-23 07:51] #38 closed

[2015-02-25 14:23] #16 closed

[2015-02-26 07:08] sandoche2k opened #42 "Default policy level for lack of DNSKEY is ERROR, making unsigned zones be reported as broken"
http://www.zonemaster.net/test/4603

http://dnsviz.net/d/lechatetmoionestcontent.com/VO7EUg/dnssec/

http://dnscheck.iis.se/?time=1424934317&id=4575701&view=basic&test=standard

[2015-02-26 07:16] cdybedahl commented on #42
If you think that the result from Zonemaster is somehow incorrect, please specify how.

[2015-02-26 07:22] sandoche2k commented on #42
There is an impression in the result from Zonemaster-GUI that there is an error in the DNSSEC configuration for the zone, even when the zone is not signed.

Or maybe should i add this as an issue for the GUI?

[2015-02-26 07:51] cdybedahl commented on #42
So the actual problem is that the default log levels for the messages DNSSEC:NO_KEYS_OR_NO_SIGS, DNSSEC:NO_KEYS_OR_NO_SIGS_OR_NO_SOA and DNSSEC:DELEGATION_NOT_SIGNED are set to ERROR. The appropriateness of that is definitely debatable.

Perhaps we should have a special issue tag for "default policy".

[2015-02-26 09:13] bortzmeyer commented on #42
Also, for this specific case, there *was* a DS for lechatetmoionestcontent.com (it was recently deleted) so a better example would be dassault.com which was never signed: http://zonemaster.net/test/4614

 192.5.6.30 returned no DS records for dassault.com.
Cannot test DNSKEY signatures, because we got 0 DNSKEY records and 0 RRSIG records.
Cannot test SOA signatures, because we got 0 DNSKEY records

[2015-03-02 13:43] pahi opened #43 "Recheck documentation"
A recheck and possibly updates to the existing documentation of the code needs to be done, to ensure a smooth transition to the new developer at .SE.

[2015-03-05 13:46] pawal opened #44 "Problem finding parent?"
$ zonemaster-cli melbourneit.com.au
    Seconds Level     Message
    ======= ========= =======
       0.90 CRITICAL  Nameservers for "au" provided no NS records for tested zone. RCODE given was NOERROR.
       0.90 CRITICAL  Not enough data about melbourneit.com.au was found to be able to run tests.

No problem doing this test with DNSCheck.

[2015-03-05 13:57] cdybedahl commented on #44
Yup, it finds the wrong parent. Looking into why.

[2015-03-05 15:07] mtoma opened #45 "Zonemaster::Test::Address crashes while testing domains "maif", "java" and "oracle""
[toma@zonemaster.rd.nic.fr Zonemaster_Dancer]$ zonemaster-cli maif
Seconds Level     Message
======= ========= =======
   6.95 CRITICAL  Fatal error in Zonemaster::Test::Address: Can't call method "rcode" on an undefined value at /home/toma/perl5/perlbrew/perls/perl-5.20.1/lib/site_perl/5.20.1/Zonemaster/Test/Address.pm line 156, <DATA> line 20.

  12.32 WARNING   Saw 2 SOA serial numbers.
  12.32

[2015-03-05 15:10] cdybedahl commented on #45
No, it doesn't. There is a serious problem in the Address test module, but the framework knows to handle that and proceeds to the next module just fine (as can be seen from the text you include).

[2015-03-05 15:18] #45 closed

[2015-03-05 15:20] mtoma commented on #45
Should I update the website with this commit?

[2015-03-05 15:23] cdybedahl commented on #45
In my opinion, no. Git bleeding edge is significantly more likely to have problems than tagged releases (which will have been much more extensively tested with many Perl versions).

[2015-03-05 15:25] mtoma commented on #45
Ok.

[2015-03-05 16:15] cdybedahl commented on #44
This turns out to be a bit more interesting than I first thought.

The algorithm we use to find the parent of the domain being tested is to record the steps taken while recursing down to the domain from the root, and then consider the last step that is not the domain itself as the parent. Strictly speaking, this algorithm is broken. If the parent and the grand-parent domain are served from the sam

[2015-03-06 10:40] cdybedahl commented on #44
I have just committed (but not yet pushed or merged) a fix for this. It's not perfect, in that it can still fail for the case where for a domain `a.b.c`, a subset of the servers for `c` are authoritative for `a.b.c` but the intermediate domain `b.c` is served by entirely separate servers (or just a different subset of the servers for `c`). I think that setup is sufficiently exotic that we can igno

[2015-03-06 11:06] #44 closed

[2015-03-11 10:07] pawal commented on #42
Is this only a policy issue? Who will fix it?

[2015-03-11 10:22] pawal opened #48 "Input parameters in log"
In the SYSTEM module, it would be very useful to have all input parameters listed on the test performed. Such as the name of the domain, and any pre-delegation parameters such as name servers and DS records. The current datetime when the test was started is also useful (for example when debugging RRSIG failures).

In order to do data analysis on the output on many runs, you have to dig down to the

[2015-03-11 10:48] cdybedahl commented on #42
Yes, it is only a policy issue. I don't know who is supposed to decide on the default shipped policy, but I don't think it should be me (which is why I haven't done anything with this).

[2015-03-12 16:40] #42 closed

[2015-03-13 19:45] bortzmeyer commented on #42
OK, it is closed but with which decision? :-)

[2015-03-14 09:34] pawal commented on #42
Sorry, I updated the policy. See this commit:
https://github.com/dotse/zonemaster-engine/commit/5f6e04805deecf76be97af33681ad2d6eb2d2553

I should have referenced this issue in the commit, but forgot.

[2015-03-14 11:09] bortzmeyer commented on #42
@pawal With Github, there is a very convenient feature: put in a commit message "Closes #N" and it will close the issue N and refer to the closing commit.

[2015-03-17 22:43] pawal opened #53 "Memory leak"
After running many tests reusing the same Perl process, the process became very large. Here is a simple test that displays the problem (have a 100 real domains in 100.txt):

[code]

This is the dump from the above test:

[code]

[2015-03-18 06:57] cdybedahl commented on #53
Zonemaster is built to never repeat a query. In order to do this, it remembers every query ever made. If you're running many tests in the same process, my guess is that this is what takes up memory.

[2015-03-18 12:47] cdybedahl commented on #53
I did find one cache that was not properly cleared, but after fixing that the amount of memory lost at every iteration goes _up_. I'm still leaning towards the hypothesis that what happens is internal fragmentation in Perl's memory pool, since that explains why the problem gets worse when more objects get created and destroyed.

[2015-03-18 12:54] pawal commented on #53
I have not observed the same type of behaviour when using Net::DNS to perform a lot of queries, creating and destroying objects. But I can do some more benchmarking with that.

[2015-03-18 12:58] cdybedahl commented on #53
I'm still looking.

[2015-03-24 06:56] cdybedahl commented on #53
Please try with Net::LDNS 0.74 and see if it makes a difference.

[2015-03-24 06:58] cdybedahl commented on #23
Starting with version 0.73, Net::LDNS supports threading, removing one technical hurdle for this. All design issues still remain, though,

[2015-03-24 09:34] pawal commented on #23
So far it looks very good.

[2015-03-24 09:35] pawal commented on #53
The memory issue I saw seems to be gone.

[2015-03-24 09:38] #53 closed

[2015-03-25 14:03] cdybedahl commented on #48
Fake NS and DS are already logged, but it's necessary to use a logger callback to get at them. It's a bit tricky to add them to the default-returned set of log entries, since adding fake delegation information is not a part of the test execution process. The messages are SYSTEM:ADDED_FAKE_DELEGATION and SYSTEM:FAKE_DS, and their default log level is DEBUG2, so to see them it's probably necessary t

[2015-03-25 14:21] pawal commented on #48
Thanks for the info. Would it be possible to log datetime and name of input domain?

[2015-03-25 14:30] cdybedahl commented on #48
Will be committed in a moment.

[2015-03-25 14:33] cdybedahl commented on #48
I'm putting them on default log level DEBUG, by the way.

[2015-03-25 14:37] cdybedahl commented on #48
Closed with commit 8f041d27c566aa2323bf15790297582b5ccbd616.

[2015-03-25 14:37] #48 closed

[2015-03-27 14:21] cdybedahl commented on #23
There is now a prototype threaded version in [my fork of the repo](https://github.com/cdybedahl/zonemaster-engine/tree/threaded). As far as possible, it runs every test case in a separate thread. The tests blow up like whoa, the new behavior is not documented at all and I've seen at least one coredump while testing it, but it does basically work. If it's installed, the CLI will use it.

The main d

[2015-03-30 10:24] cdybedahl commented on #23
The coredump is found and will be fixed in Net::LDNS 0.75. Most of the test failures are because the tested domain no longer behaves as they did when the tests were written, or because of assumptions of serial-ness.

Running tests with zonemaster-cli on a bunch of more or less randomly chosen domains give varying timing results. For some domains, the threaded version takes up to 40% less time to f

[2015-03-31 08:32] pawal opened #60 "Coherent naming of args in the log"
Sometimes nsset is called ns. Sometimes ns is called name. Sometimes an "ns" is only a name of a name server, and sometimes it is attached to an IP-adress. Sometimes it is split into an "ns" and an "address".

Sometimes the args is also empty, when there there is likely to actually contain data.

We really need to have coherent naming of the args in the log, with specific types attached to the nam

[2015-03-31 15:06] cdybedahl commented on #23
Closing this one for now. There is enough of a prototype to evaluate if it's worth the effort to continue developing the threaded version, and the issue can be re-opened if needed.

[2015-03-31 15:06] #23 closed

[2015-04-03 06:22] sandoche2k opened #62 "Testing for "hestia.mmsh.univ-aix.fr""
dig hestia.mmsh.univ-aix.fr has an ANSWER section. I have added the result from other tools. It seems zonemaster tool is not providing a correct response.

Using zonemaster-cli
[code]
Using zonemaster-gui
[code]

[2015-04-04 16:50] tobbe-eklov opened #63 "Run time"
It would be nice to have a last line with

xx.yy INFO   Run time xx.yy seconds

in --raw mode

[2015-04-07 06:05] cdybedahl commented on #62
[code]

OK, we really need a way to make Zonemaster say "That is not a domain" rather than giving the technically correct messages.

[2015-04-07 06:05] #62 closed

[2015-04-07 08:41] #63 closed

[2015-04-07 08:42] cdybedahl commented on #63
If you want to always have the `--elapsed` switch active, put it in the `~/.zonemaster/cli.args` file as described in the `CONFIGURATION` section of the zonemaster-cli manual page.

[2015-04-09 06:28] sandoche2k opened #67 "New installation of zonemaster in Ubuntu 14.0.4 LTS provides false negative results"
@cdybedahl

[code]

[2015-04-09 06:43] cdybedahl commented on #67
That looks like the machine you're using does not have functional IPv6.

[2015-04-09 07:29] sandoche2k commented on #67
thanks

[2015-04-09 07:29] #67 closed

[2015-04-14 09:58] pawal opened #68 "Add TravisCI to this repo"
http://docs.travis-ci.com/user/languages/perl/

[2015-04-14 14:29] cdybedahl commented on #68
Current setup file works when run on my clone repo, so you can activate Travis CI for this one.

[2015-04-14 14:31] pawal commented on #68
Done. So we'll se how it works.

[2015-04-14 14:31] #68 closed

[2015-04-21 13:27] pawal commented on #60
I have prepared this document as a starting point:
https://github.com/dotse/zonemaster/blob/master/docs/benchmark/logconsistency.md

[2015-04-22 17:54] pawal opened #71 "SOA_SERIAL_VARIATION max_variation always 0"
The result tag SOA_SERIAL_VARIATION results in three args, serial_min, serial_max and max_variation. From what I see, max_variation is always zero. Examples:

[code]

and

[code]

What is the purpose of max_variation? I would guess it would mean the difference between _min and _max.

[2015-04-23 06:00] cdybedahl commented on #71
max_variation is the maximum allowed difference. This value is settable in the Zonemaster::Constants module at the moment, and I think at some point there was a discussion about making it settable from the policy.

[2015-04-23 07:18] pawal commented on #71
Ah. Then I think it is the only args key that has meta information about the policy.

[2015-04-27 07:41] cdybedahl commented on #71
As far as I can remember, it's also the only place where the policy directly affects the outcome of a test. We discussed it at a meeting last year, but I don't think we ever came to a firm conclusion one way or the other, and Vincent's implementation reflects the resulting uncertainty.

Should some sort of action be taken here? If so, what? If not, can I close the issue?

[2015-04-27 07:42] #43 closed

[2015-04-27 09:18] pawal commented on #60
@vlevigneron Is this something you can spend some time on?

[2015-04-27 09:25] cdybedahl commented on #60
I'm currently going through the code and writing a list of all the types of information logged, so we can start with making a list of names for all the different kinds. When we have that, we can start changing the code to use them.

[2015-04-27 13:34] vlevigneron commented on #60
Yes of course, once I'll be back from vacation.

2015-04-27 11:18 GMT+02:00 Patrik Wallström <notifications@github.com>:

[2015-04-27 14:48] cdybedahl commented on #60
https://github.com/dotse/zonemaster-engine/blob/master/doc/logentry_args.md has a table where we can fill in the names to be used for the various kinds of data used. There are 71 different kinds, and that does not include and SYSTEM messages. Do we need to cover those as well?

[2015-04-27 15:12] pawal commented on #60
I don't think there is a need to look at the SYSTEM messages at this moment. At least I have never used them for anything useful - yet.

[2015-04-29 08:43] #71 closed

[2015-05-14 10:13] pawal opened #75 "IPv6 AS lookup not ok?"
When testing space.net, it does not see all the ASNs.

    10.22 INFO      Name servers have IPv4 addresses in the following ASs: 5539,12337.
    10.22 INFO      Name servers have IPv6 addresses in the following ASs: 12337.
    10.22 WARNING   All nameservers IPv6 addresses are in the same AS (12337).

However, the following IPv6 addresses is used:

    ns.space.net/2001:608:0:a::1
    ns3.dns.spa

[2015-05-14 12:34] vlevigneron commented on #75
Yes, the problems seems to be on Cymru side. There are the requests done:

    dig +short f.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.f.0.f.0.0.0.0.0.8.0.6.0.1.0.0.2.origin6.asn.cymru.com. TXT
    dig +short 2.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.9.4.0.0.0.0.0.0.0.8.7.0.1.0.0.2.origin6.asn.cymru.com. TXT
    "12337 | 2001:780::/32 | DE | ripencc | 2001-12-03"
    dig +short 1.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.a.0.0.0.0.

[2015-05-14 12:38] pawal commented on #75
Thanks, I sent them a support mail on this.

[2015-05-17 14:48] sandoche2k commented on #75
@pawal - do you want this to be in .2 or in .3?

[2015-05-17 14:50] sandoche2k commented on #60
@pawal - can we move this to 2015.4?

[2015-05-17 14:53] sandoche2k commented on #13
@vlevigneron - do you think it could be finished before .2 (15/06/2015)?

If yes, how much time you need to complete this task and the prospective date that you expect the task to be finished.

[2015-05-17 14:56] sandoche2k commented on #12
@vlevigneron - even though this task has been assigned for .3, do you think it will be possible for you to complete by .2 (15/06/2015)?
If yes - resource required and prospective date.
If no - we will keep it for release .3

[2015-05-17 16:09] pawal commented on #75
It probably is not part of our code, we will have to investigate further.

Bugs should always be fix as soon as possible, IMHO.

[2015-05-17 16:10] pawal commented on #60
I strongly think that we should have a higher priority on this than that...

[2015-05-17 19:18] sandoche2k commented on #75
Ok, then we will put it in release .2.

[2015-05-17 19:23] sandoche2k commented on #60
Ok. I think we will discuss with Vincent to decide on the release timings.

On 17 May 2015 at 18:10, Patrik Wallström <notifications@github.com> wrote:

[2015-05-21 10:51] pawal opened #76 "IS_A_RECURSOR"
I don't see that the "IS_A_RECURSOR" tag properly describes to the user the problem from the objective of the test case nameserver01, "A name server should not be a recursor". The string the user sees is this:

    Nameserver {ns}/{address} answered with a RCODE NXDOMAIN to SOA query on {dname}.

It does not say anything about being an open recursor. The text should be improved. See the NO_RECURSO

[2015-06-01 07:36] sandoche2k opened #77 "Wrong interpretation of nsec3 iteration maximum"
From => Florian Kirstein (fk@sys4.de)
your checking engine has a wrong interpretation of the limits given in
https://tools.ietf.org/html/rfc5155#section-10.3
on the number of NSEC3 iterations.

The key phrase there is "based on the size of the smallest zone
signing key, rounded UP to the nearest table value"

Which means: for a 1025 Bit key or larger, the value for "2048" applies.

While your engi

[2015-06-03 10:15] pawal opened #79 "DNSSEC info on keysize"
When we do ALGORITHM_OK, could we also on the debug level show the key size in the log message?

(The only thing I can read about the keys used is the algorithm and the keytag. No info on key size, RFC 5011 status or KSK flag. Those would also be nice additions.)

[2015-06-04 08:37] #77 closed

[2015-06-08 09:29] cdybedahl commented on #75
Team Cymru's webpages state that their source of the IP-to-ASN data is listening to BGP feed(s). I have no idea how reliable that is likely to be for IPv6, but "not very" seems quite likely given how small a part of the overall traffic IPv6 still is.

[2015-06-08 09:41] cdybedahl commented on #79
Do you see this as adding a new message, or as adding more arguments to an existing message?

[2015-06-08 10:14] #76 closed

[2015-06-08 12:49] cdybedahl commented on #13
This one is similar to #79. It might be convenient to fix both at the same time.

[2015-06-08 13:10] vlevigneron commented on #13
OK, I'll modify the output to show this information.

2015-06-08 14:49 GMT+02:00 Calle Dybedahl <notifications@github.com>:

[2015-06-11 07:10] #13 closed

[2015-06-11 07:10] #79 closed

[2015-06-12 13:18] mtoma opened #90 "Fatal error in engine output: Fatal error in Zonemaster::Test::Nameserver: Can't call method "get_records" ..."
Caused by the following commit:
7124f2a257adfe9973bb655daa6af211eec8df82 - Resolves dotse/zonemaster#311

How to reproduce:
[toma@zonemaster.rd.nic.fr zonemaster-engine]$ perl -I /home/toma/PROD/Zonemaster_DEV/zonemaster-engine/lib/ ../zonemaster-cli/script/zonemaster-cli 21.nu
Seconds Level     Message
======= ========= =======
  14.52 NOTICE    Nameserver dns4.registrar-servers.com/69.197.21.28

[2015-06-12 13:39] mtoma opened #91 "Warning in engine output: Use of uninitialized value $min_len in numeric gt (>) at"
Introduced by the following commit:
1f0b1e447c4bb8d5047045b3e034f6f4a3904477 Do rounding of minimum key length values according to RFC. Closes dotse/zonemaster-engine#77.

How to reproduce:
[toma@zonemaster.rd.nic.fr zonemaster-engine]$ git checkout 1f0b1e447c4bb8d5047045b3e034f6f4a3904477
Previous HEAD position was ef258fb... Merge pull request #80 from cdybedahl/fix-issue-77
HEAD is now at 1f0b1

[2015-06-18 08:44] sandoche2k commented on #75
@pawal this issue is part of release .2. Can you have a look at this and if it is not possible to complete move it to .3

[2015-06-22 14:13] #90 closed

[2015-06-22 14:13] #91 closed

[2015-06-23 09:03] pawal opened #93 "Translate nameserver08 messages to French"

[2015-06-23 09:03] pawal opened #94 "Translate nameserver08 messages to Swedish"

[2015-06-23 09:23] #94 closed

[2015-06-23 12:19] pawal opened #96 "Handle name servers that timeouts"
When a name server does not reply, stop sending queries to that name server and return a timeout to the caller. Also log a "blacklist" message saying that the name server has been "blacklisted".

A name server in this case is the combination of address name, IP address and UDP/TCP.

This will limit the number of timeouts that happens and make Zonemaster run faster. Also the number of log entries s

[2015-06-30 12:08] #93 closed

[2015-08-06 12:53] pawal commented on #60
If it is ok, I will start fixing a number of those things soon.

I will create a new issue for each "name".

[2015-08-06 12:56] pawal opened #102 "args.ns should only be a name server name"
args.ns should always be only the nameserver name, now it is often a mix of ns/address.
If there is an address, split it out to args.address.

Any change must also update the logging string so that the address is not forgotten,

"Nameserver {ns} did not..." -> "Nameserver {ns}/{address} did not..."

This also affects all the translation strings.

[2015-08-06 14:02] sandoche2k commented on #60
Hi Patrik,

  In case if you do not need Vincent, i think you can start looking at it.

Sandoche.

On 6 August 2015 at 14:53, Patrik Wallström <notifications@github.com>
wrote:

[2015-08-17 13:20] pawal opened #107 "Malformed JSON"
It happens sometimes I get output such as this from my zonemaster-collect code:

Thread 25 terminated abnormally: malformed UTF-8 character in JSON string, at character offset 8620 (before "\x{fffd}2002::/16","...") at (eval 587) line 161.

It comes from the zonemaster-engine, but I have not examined it closer, so I don't know the cause.

[2015-08-17 13:53] pawal opened #108 "False positive on IS_A_RECURSOR"
[code]

and then

[code]

[2015-08-17 14:59] vlevigneron commented on #107
Patrik, I never met this case (but I don't often use json output), do
you have any idea if it happens with specific domain names ? What kind
of test could be done to reproduce this test case and catch that bug ?
I mean, how many domains do you use with zonemaster-collector, which
ones could I use to try to reproduce this issue ?

le 17 août, Patrik Wallström a ?crit :

--
	Vincent Levigneron  A.F.

[2015-08-17 17:29] vlevigneron commented on #108
You are right, but it follows NAMESERVER01 specs that could be updated
to take into account this case where NXDOMAIN is returned although it
should not...

le 17 août, Patrik Wallström a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2015-09-09 10:00] mtoma opened #109 "Missing dependency Text::Capitalize"
While installing Zonemaster from CPAN:
Failed test 'use Zonemaster;'
 at t/00-load.t line 9.
 Tried to use 'Zonemaster'.
Error:  Can't locate Text/Capitalize.pm in @INC (you may need to install the Text::Capitalize module) (@INC contains: /home/afnicreg/.cpan/build/Zonemaster-v1.0.4-n8Onir/inc /home/afnicreg/.cpan/build/Zonemaster-v1.0.4-n8Onir/blib/lib /home/afnicreg/.cpan/build/Zonemaster-v1.0.4

[2015-09-09 10:02] mtoma commented on #109
In fact it seems Text:Capitalize is broken on CPAN

[2015-09-09 10:03] pawal commented on #109
Yes, this is not a dependency problem on the Zonemaster module. I have notice that Text::Capitalize fails to pass all tests on MacOS, might be on other systems as well.

[2015-09-09 10:03] #109 closed

[2015-09-09 10:03] mtoma commented on #109
cpan -i -f Text::Capitalize sloves the install problem

[2015-09-09 10:08] pawal opened #110 "Maybe remove Text::Capitalize?"
Text::Capitalize has caused the largest amount of installation problems so far for the Engine, and it is only used by a tiny part of the code. It should be easy to remove the dependency on Text::Capitalize and just replace it with the needed code from this module, the scramble_case subroutine:

[code]

[2015-09-09 10:09] pawal commented on #109
See issue #110.

[2015-09-09 12:36] vlevigneron commented on #110
Ok, I'll do that. I am about to push NAMESERVER09 implementation that also
use scramble_case, I'll add a commit about that issue in the pull request.
But can you telle me what kind of issue. I had no problems at all in my
environnement...

2015-09-09 12:08 GMT+02:00 Patrik Wallström <notifications@github.com>:

[2015-09-09 13:08] sandoche2k commented on #96
@vlevigneron  close?

[2015-09-09 13:10] vlevigneron commented on #96
I guess we can.

2015-09-09 15:08 GMT+02:00 sandoche2k <notifications@github.com>:

[2015-09-09 13:11] #96 closed

[2015-09-09 13:37] pawal commented on #110
Compilation often fails, like this:

[code]

At least on MacOS. See also #109.

[2015-09-09 14:06] pawal opened #111 "Default log level for REFERRAL_SIZE_LARGE is DEBUG2?"
How come we ended up with DEBUG2 as the most severe log level for DELEGATION03? It should be at least a WARNING. Or is the code not reliable?

https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Delegation-TP/delegation03.md

What I get when I dump the policy from the CLI is this:

      "REFERRAL_SIZE_LARGE" : "DEBUG2",
      "REFERRAL_SIZE_OK" : "DEBUG2",

[2015-09-10 06:44] vlevigneron commented on #110
If you need a "working" version, you can get the following fork,
https://github.com/vlevigneron/zonemaster-engine/tree/nameserver09
I just have to add human readable messages before request a pull but it
works  now and there is no more dependencies with Text::Capitalize.

2015-09-09 15:37 GMT+02:00 Patrik Wallström <notifications@github.com>:

[2015-09-10 19:19] #110 closed

[2015-09-11 07:30] cdybedahl opened #114 "Does a zone with a CNAME (only) at apex exist?"
A friend who works at Klarna asked me if this setup is actually OK. It _works_, that much is clear, and I can't really think of anything in the RFCs that forbids it. But Zonemaster doesn't even think the zone exists. Should it?

    Sarnath:~% zonemaster-cli email.klarna.com
    Seconds Level     Message
    ======= ========= =======
       2.43 CRITICAL  Nameservers for "klarna.com" provided no N

[2015-09-11 08:04] pawal commented on #114
As I see it, this zone gets hit by the basic02 test case. However, it is not clear from the test case that we mean at least one nameserver published in the child zone.

Also, a CNAME in the apex of the zone is clearly forbidden, section 3.6.2 RFC 1034:

    The domain system provides such a feature using the canonical name
    (CNAME) RR.  A CNAME RR identifies its owner name as an alias, and

[2015-09-15 08:55] dolmen opened #115 "v1.0.5 incorrectly released on CPAN"
See [RT #107100](https://rt.cpan.org/Ticket/Display.html?id=107100)

[2015-09-15 09:40] pawal commented on #115
Uploaded a new corrected version.

[2015-09-15 09:40] #115 closed

[2015-09-15 11:07] dolmen commented on #115
Unfortunately it can not be indexed because its content conflicts with v1.0.5.tar.gz you previously uploaded.
You have to increase $VERSION.

Please also [remove](https://pause.perl.org/pause/authenquery?ACTION=delete_files) v1.0.5.tar.gz from the PAUSE account as it is useless.

[2015-09-15 11:41] dolmen commented on #110
The removal is incomplete.
Text::Capitalize is still used in lib/Zonemaster/Test/Nameserver.pm, lib/Zonemaster/Test.pm and referenced in Makefile.PL and doc/installation.md.

[2015-09-15 15:28] vlevigneron commented on #110
It should be OK now. Regards.

[2015-09-15 17:01] karenetheridge commented on #115
You can delete previous versions at the web interface: https://pause.perl.org/pause/authenquery?ACTION=delete_files

[2015-09-16 08:46] pawal commented on #115
New version has been release. However, I deleted the broken v1.0.5 tar ball from the PAUSE system, and it apparently takes three days?

[2015-09-16 09:19] cdybedahl commented on #114
The `CNAME` RR _is_ the only RR present at the `email.klarna.se` node. So, as far as I can see, it does comply with that paragraph.

[2015-09-16 09:24] cdybedahl opened #117 "The built-in recursor in Zonemaster does not handle DNAME records."
I just saw someone on Stack Overflow recommend `DNAME` as a solution to a weird DNS setup problem, and was reminded that I never implemented that in Zonemaster's recursor. Given that those records seem to be extremely rare in the real world, fixing this is probably very low priority, and this issue is just intended to inform the project that the deficiency exists.

[2015-09-16 10:41] pawal commented on #114
I have looked at the "domain" email.klarna.se now, and cannot see any NS records in the klarna.se zone, it is just simply a CNAME. Which does not make email.klarna.se something that we can test, right?

Yes, the klarna.se name servers give you a CNAME when asking for NS, but it is not clear anywhere that Zonemaster should be able to test the zone that the CNAME points to.

[2015-09-16 11:12] pawal commented on #117
Yes, this is a feature we need.

[2015-09-22 14:00] sandoche2k commented on #60
@pawal move to next release

[2015-09-22 14:01] sandoche2k commented on #12
@vlevigneron - as mentioned during the last conf. call please comment on time required to solve this issue.

[2015-09-22 14:02] sandoche2k commented on #102
@pawal  - assign to VLE?

[2015-09-30 13:11] pawal opened #121 ""make test" fails on a machine without IPv6 connectivity"
[code]

[2015-10-01 07:07] vlevigneron commented on #121
I guess the issue is that we do not check if Ipv4 and/or IPv6 is available
on host running the engine. I'll fix the test code when I'll modify that.

2015-09-30 15:11 GMT+02:00 Patrik Wallström <notifications@github.com>:

[2015-10-01 13:02] #121 closed

[2015-10-08 12:54] sandoche2k commented on #102
@pawal Keep it open. Majority of them done.. but keep the issue open

[2015-10-08 12:59] sandoche2k commented on #60
@sandoche2k - Put https://github.com/dotse/zonemaster/blob/master/docs/benchmark/logconsistency.md into ZM/docs
@pawal - Keep the issue open

[2015-10-08 13:18] sandoche2k opened #127 "Consistency for "." in all messages"

[2015-10-08 13:18] pawal commented on #12
Closing. @sandoche2k creates a new issue on "do dot or not" (labels are sometimes logged with suffixed dot, sometimes not).

[2015-10-08 13:18] #12 closed

[2015-10-08 13:26] sandoche2k opened #128 "Upper and lower case queries with the same server does not respond with the same results"
e.g : www.zonemaster.net/37882

[2015-10-09 08:26] sandoche2k commented on #111
@vlevigneron
Modify
"REFERRAL_SIZE_LARGE" : "WARNING",
  "REFERRAL_SIZE_OK" : "INFO",

[2015-10-09 08:30] sandoche2k commented on #108
To discuss

[2015-10-09 08:35] sandoche2k commented on #107
Closed it as of now we cannot reproduce this issue ..

[2015-10-09 08:35] #107 closed

[2015-10-09 08:36] #75 closed

[2015-10-09 08:50] sthen commented on #128
See also http://www.nlnetlabs.nl/pipermail/nsd-users/2015-October/002186.html - differences in *case* of the answer should probably be ignored.

[2015-10-09 13:47] #128 closed

[2015-10-09 14:10] #111 closed

[2015-10-20 11:05] jelu opened #137 "Unable to install using cpan"
This is on a Ubuntu 14.04 LXC container without IPv6:

[code]

Here is my full installation inside the container:

[code]

[2015-10-21 07:44] pawal opened #138 "Change args names of ASN debug messages"
ASN_INFOS_RAW: ip -> address
ASN_INFOS_ANNOUNCE_BY: data -> asn
ASN_INFOS_ANNOUNCE_IN: ip -> address, data -> prefix

[2015-10-27 08:56] cdybedahl commented on #96
The reason we did not implement this from the beginning was the existence of servers that time out when asked for some RR types but not others (an example was `cert.ru`, which timed out on DNSSEC RR types when the DO flag was not set, but they've changed since). Blacklisting only based on name/ip/protocol will make our tests give erroneous results on such servers.

[2015-11-02 07:38] sandoche2k opened #139 "IPv6 only testing does not work"
From Lars-Johan Liman

https://www.zonemaster.net/test/7faec37c277fb3ad

It was done using "Advanced options" and only marking IPv6, but the
result gives (as you see) "red flag" for system and it seems to have
used IPv4 anyhow, but it seems to be an internal error in the code.

Could you please confirm that the problem is indeed internal, or if not,
please tell me how to interpret the error:

[2015-11-02 07:47] sandoche2k commented on #139
Have the same error, when tested from the client:

zonemaster-cli --no-ipv4 cafax.se
Seconds Level     Message
======= ========= =======
  10.76 CRITICAL  Fatal error in Zonemaster::Test::Connectivity: Can't use an undefined value as an ARRAY reference at /home/sandoche/perl5/lib/perl5/Zonemaster/Test/Connectivity.pm line 269, <DATA> line 20.

sandoche@eryx:~/Git/sandoche/zonemaster-cli$ zonemaste

[2015-11-05 15:20] sandoche2k commented on #139
@vlevigneron did you have a look at this issue. It was working earlier.

[2015-11-05 15:50] einar opened #140 "When testing a zone with 2 NS that point to the same IP..."
...you correctly get a NOTICE due to DELEGATION02 that says "SAME_IP_ADDRESS" (this is cool and actually more detailed than DNSCheck), the problem is that DELEGATION01 has already passed this domain as this test only checks the names then continues.

So what Zonemaster misses is that this domain only has 1 NS, this is not the case with DNSCheck so something's missing.

You can try on "rayceem.com"

[2015-11-06 10:20] #139 closed

[2015-11-06 10:54] #138 closed

[2015-11-11 14:16] jpierre03 opened #144 "French translation"
File :
https://github.com/dotse/zonemaster-engine/blob/master/share/fr_FR.UTF-8.po

Actual translation :

[code]

"Aucune cible n'a été trouvée" means "No target found".

But according to https://github.com/dotse/zonemaster-engine/blob/master/lib/Zonemaster/Test/Zone.pm this label is shown when `MX_RECORD_EXISTS`

It should be
"Information ({info}) trouvée pour faire parvenir un message à ce nom d

[2015-11-11 16:43] vlevigneron commented on #144
Bien vu... La traduction à la chaîne, ça laisse passer quelques coquille malencontreuses... je me suis permis de reprendre votre proposition de tradustion.

Je patch cela ASAP.

Merci.

[2015-11-11 16:47] #144 closed

[2015-11-12 19:13] #137 closed

[2015-11-13 20:39] jpierre03 opened #148 "Delegation issue : existing glue record with invalid content"
According to https://github.com/dotse/zonemaster-engine/blob/master/lib/Zonemaster/Test/Delegation.pm, the DNS "glue records" of an area must exist but there is no check about content.
So glue record may have different values than those specified in the area.

http://dnsviz.net/ report such a situation as a warning.
Zonecheck say nothing about it.

What about a new test ?

This check specification

[2015-11-15 19:43] pawal opened #149 "Remove Net::Interface"
Given the age of this module, and the fact that it does not even compile for Linux kernels 3.x, it should be removed and replaced by something else. We cannot release the engine with this module.

Bugs: https://rt.cpan.org/Dist/Display.html?Name=Net-Interface

[2015-11-15 22:03] vlevigneron commented on #149
Well... the module that I used to use before in order to provide the same
service (IO::Socket::IP) had issues on Ubuntu. I will spend time to find a
module or a better way to check IPv6 capabilities of a server that could be
compatible with all OS but as it is only usefull for the non regression
tests and does not change engine begaviour, I propose to remove that part
of code and the  correspondin

[2015-11-15 22:20] pawal commented on #149
What is the purpose for using either Net::Interface or IO::Socket::IP, is it just to test the code? Why do you need an interface for that? Just so that I understand. Since you do not use real queries going for the network during code coverage tests.

[2015-11-15 22:33] vlevigneron commented on #149
Yes, we do not do the same non regression tests on hosts with or without
IPv6 working interfaces.

The engine doesn't do real queries during 'make test', but if there is no
IPv6 on the host, it can not instanciate fake IPv6 servers objects.

As I told you, this is "just" for non regression tests and have a better
coverage. It should not prevent from doing the release, that's why I
propose to remov

[2015-11-16 07:49] vlevigneron commented on #149
The purpose of either Net::Interface or IO::Socket::IP, is it just to test the code, that's correct. That's why it should not prevent from doing a release of the engine.

We do not do real queries during the majority of the tests (we use resluts in .data files instead) except when we test ipv4/ipv6 switch (in this case we don't care about results of the queries, we just check if ipv4/ipv6 is avail

[2015-11-16 07:52] sandoche2k commented on #149
@vlevigneron Can this be closed ?

[2015-11-16 11:41] #149 closed

[2015-11-16 15:16] sandoche2k commented on #149
Hi Patrik,

   Can you make a release now, so that we could test using CPAN.

Sandoche.

On 16 November 2015 at 12:41, vlevigneron <notifications@github.com> wrote:

[2015-11-16 15:27] pawal opened #152 "MANIFEST again"
What is wrong with this, @vlevigneron @sandoche2k ? Should I fix something on my end?

This is from "perl Makefile.PL && make dist":

[code]

[2015-11-16 15:30] pawal commented on #149
@sandoche2k see issue #152.

[2015-11-16 15:32] pawal commented on #152
Sorry, fixed by running "perl Makefile.PL && make manifest && make dist".

[2015-11-16 15:32] #152 closed

[2015-11-16 15:38] pawal opened #153 "Release 10x size"
The release of version 1.0.8 ten-doubled in size. This was due to the inclusion of the entire .git directory. That should also be included in the MANIFEST.skip file, along with anything else that might not be necessary.

Did not see this until the file was uploaded to the PAUSE account, and the release was tagged.

[2015-11-17 06:20] chorny opened #154 "MYMETA must not be included"
Your distribution (IIS/Zonemaster-v1.0.8.tar.gz) contains files MYMETA.json/MYMETA.yml/Makefile. These files must not be included into distribution - they are generated when installing.
See http://weblog.bulknews.net/post/44251476706/stop-shipping-mymeta-to-cpan

P.S. If this report is for an old version, please delete old indexed versions mentioned here: http://cpanold.chorny.net/?a=IIS and conta

[2015-11-17 08:12] #153 closed

[2015-11-17 08:12] #154 closed

[2015-11-17 12:33] chorny opened #155 "MANIFEST.SKIP contains regexes"
So /Makefile/ disables Makefile.PL too. See https://metacpan.org/source/IIS/Zonemaster-v1.0.9

[2015-11-17 12:42] pawal commented on #155
Should be fixed in 1.0.10.

[2015-11-17 12:42] #155 closed

[2015-11-19 20:43] sandoche2k commented on #108
@pawal do you agree with @vlevigneron suggestion above?

[2015-11-19 23:50] vlevigneron commented on #108
I just implemented the following behaviour that could be specified more or less that way:

1. Retrieve all address records for all the name servers using Method 4 and Method 5.
2. A SOA query for an almost certainly nonexistent name is sent to each name server IP address found in step 1, with the flag Recursion Desired (RD) set.
3. If any answer of the queries made in step 2 contains an RCODE with

[2015-11-20 12:32] sandoche2k commented on #108
@vlevigneron will you be modifying it in the test spec... or you want me to do that?

[2015-11-20 12:54] vlevigneron commented on #108
There are many ways to specify and implement this test. I tried to stay
in the same "spirit" (with NXDOMAIN checks) but perhaps that you or
Patrik would choose another way to specify it, so just decide the best
spec and write it.

Of course, if you think that my proposal is a reasonable one, I can more
or less cut/paste the content of my previous message in the specs of
NAMESERVER01.

le 20 nov.,

[2015-11-20 12:56] sandoche2k commented on #108
I would go with your proposal as it is in the spirit of the existing spec.

We implement as it is, unless there is a contradiction from @pawal

On 20 November 2015 at 13:54, vlevigneron <notifications@github.com> wrote:

[2015-11-20 16:15] #108 closed

[2015-11-23 07:42] sandoche2k commented on #102
@pawal - moving it to 2015.4.

[2015-11-23 07:44] sandoche2k commented on #60
@pawal - Can we move it to 2015.4?

[2015-11-27 21:30] jpierre03 commented on #148
[IANA](https://www.iana.org/help/nameserver-requirements) state :

[2015-12-02 12:56] #114 closed

[2015-12-02 13:48] sandoche2k commented on #148
Hi Jean-Pierre,

     Thanks for your contribution. A new test spec has been added
https://github.com/sandoche2k/zonemaster/docs/specifications/tests/Consistency-TP/consistency05.md.
It will be implemented ASAP.

Sandoche.

On 27 November 2015 at 22:30, Jean-Pierre PRUNARET <notifications@github.com

[2015-12-29 16:55] mtoma opened #164 "CPAN installation issue"
The latest version available on CPANis v1.0.11.
Its installation from CPAN fails consistently on my machine.

[2015-12-30 13:54] jelu opened #165 "JSON/JSON::XS usage and requirement"
If you look at `Makefile.PL`, JSON is required and JSON::XS is recommended but:
- `lib/Zonemaster/Logger.pm` does `use JSON::XS`
- `lib/Zonemaster/Nameserver.pm` does `use JSON::XS`
- `lib/Zonemaster/Test/Nameserver.pm` uses `JSON::XS->new` when creating an object but does not use any JSON*
- `lib/Zonemaster/Logger/Entry.pm` does `use JSON` but uses `JSON::XS->new` when creating an object
- `docs/

[2016-01-12 10:26] pawal opened #168 "nameserver03 test should not perform network requests"
Please test on recorded data:
https://github.com/dotse/zonemaster-engine/pull/166

(Then I can close this pull request)

[2016-01-15 09:17] mtoma opened #169 "impossible to test domains starting with a dot (like .fr)"
zonemaster-cli .fr
Seconds Level     Message
======= ========= =======
   0.00 CRITICAL  Domain name (.fr) has a zero-length label.
   0.00 CRITICAL  Not enough data about .fr was found to be able to run tests.

zonemaster-cli .afnic.fr
Seconds Level     Message
======= ========= =======
   0.00 CRITICAL  Domain name (.afnic.fr) has a zero-length label.
   0.00 CRITICAL  Not enough data about .afn

[2016-01-15 10:12] pawal commented on #169
Isn't this as designed? You cannot resolve a name like that either.

[2016-01-15 11:48] mtoma commented on #169
No idea.
I created this issue on Sandoches request probably more for discussion than anything else.

----- Original Message -----
From: "Patrik Wallström" <notifications@github.com>
To: "dotse/zonemaster-engine" <zonemaster-engine@noreply.github.com>
Cc: "Michal TOMA" <michal.toma@afnic.fr>
Sent: Friday, January 15, 2016 11:12:33 AM
Subject: Re: [zonemaster-engine] impossible to test domains start

[2016-01-15 13:04] pawal commented on #169
@sandoche2k Do you think this is important for usability? (I don't think so.)

[2016-01-15 13:32] sandoche2k commented on #169
The question arised when we were testing for a TLD (for e.g. ".fr").

After your response, i think it is not needed. I think we can close this
issue @mtoma

On 15 January 2016 at 14:04, Patrik Wallström <notifications@github.com>
wrote:

[2016-01-15 14:06] #169 closed

[2016-01-20 11:36] pawal opened #170 "Do not query root for IANA special reserved names"
http://www.iana.org/assignments/special-use-domain-names/special-use-domain-names.xhtml

[2016-01-27 15:09] pawal opened #171 "False positive on open recursive name server"
Some examples:
- a.nic.ac is not an open resolver, but is reported as such when testing ac.
- ns02.dns.ao is not an open resolver, but is reported as such when testing ao.
- a.nic.sh is not an open resolver, but is reported a such when testing sh.

[2016-01-27 15:10] pawal commented on #164
Can you test with v1.0.13?

[2016-01-28 10:41] sandoche2k commented on #164
Can we close this issue as there is another one https://github.com/dotse/zonemaster/issues/446 @mtoma @pawal

[2016-01-28 11:16] #164 closed

[2016-02-02 09:32] einar opened #172 "To be able to choose a policy the Engine must be able to list available ones"
As subject says, it's crucial that the Engine can output all available policies so that whatever uses it (Like the CLI or the API) can easily find them.

[2016-02-02 09:41] pawal commented on #172
The engine is not aware of any policies, they are given as input from a default file somewhere. Other tools such as the CLI and any other backend software can give the engine another policy.

[2016-02-02 09:53] einar commented on #172
So all tools using the Engine needs hardcoded paths that may also be OS-dependant? Ideally I think policies should follow the Engine so that all other tools can easily access them imho... This makes installation and maintenance quite a bit worse... ;p But is this decided? Then we need hardcoded paths in our API as well (and I guess we need to install the CLI just to get the policies?).

[2016-02-02 10:03] pawal commented on #172
That is one way to put it. The other way to put it is that the Engine has no way of telling that there are other policies available. We have had an extensive discussion on this.

A user deciding on changing the "default" policy use "zonemaster-cli --dump_policy > some.file", and changes some.file to contain something else, and can store it anywhere. There is no way for the engine to tell where thi

[2016-02-02 10:16] einar commented on #172
The Engine could easily do both, no? Both have a directory, or whatever, with listable policies with the option of also accessing one anywhere in the filesystem (which it already has)? If we had that we wouldnt have to have hardcoded paths in every (future) tool using the Engine for "normal uses" and we'd have automatic functionality (no need to hardcode MORE stuff) if/when we add a policy later.

[2016-02-02 10:27] pawal commented on #172
What you have now is that the engine searches for a policy in these directories, in this search order

* dist_dir( 'Zonemaster' ); # this is from prefix in the installation
* /etc/zonemaster
* /usr/local/etc/zonemaster
* $HOME/.zonemaster

The files that are searched for is config.json and policy.json.

Is your proposal that for each directory we can look for files, to have a subdirectory for poli

[2016-02-02 11:12] einar commented on #172
I think the Engine should use one directory, like the prefix one from the installation, and be able to list the policy-files from only that directory; yes. Then we could, in the API for example, use that feature of the Engine and say that additional files should reside there instead of saying "put the addtional file somewhere and point at it in the API's configuration".

I'd rather have (the possi

[2016-02-02 12:50] jelu opened #173 "Locale files are not generated nor installed"
There are locale files in `share` which must be generated before doing `make manifest` etc so that they will be installed and included in the distribution.

There doesn't seem to be a way to get `Module::Install` to add a custom step to `Makefile` so it should either be a step in the release management or have the files generated and included in the source repository.

[code]

[2016-02-02 12:50] pawal commented on #172
I prefer clients to use their own policies if they need it. If they are hardcoded or not is not up to the engine.

Good coding practices is to _not_ hardcode any things like these, but to have those kind of things in a configuration file. Changing the engine does not change this fact. The Backend can have its own configuration files providing this information.

[2016-02-02 12:59] pawal commented on #173
I guess this is also true for the CLI and perhaps the other components?

[2016-02-02 13:00] jelu commented on #173
No, CLI has them generated and included in the source repository.

[2016-02-02 13:12] einar commented on #172
They *have* to be hardcoded if the Engine cannot list them and separate logic (most likely hardcoded paths) to find them has to be in every tool that wants to run Zonemaster if the Engine cannot list them (which I would consider bad practice tbh as everyone has to implement this logic to use the Engine). To have them hardcoded in a configuration is not really different from having them hardcoded s

[2016-02-02 13:12] #172 closed

[2016-02-16 15:04] pawal opened #174 "Remove dependency on Net::IP::XS, use Net::IP"
Comment from a package maintainer:

Zonemaster seems to depend on IP::Country. This does not follow the Debian Free Software Guidelines (DFSG) since it depends on close source binary files.

Where does it depends on this, and can we remove it? (Its from the installation documentation)

[2016-02-16 15:13] pawal commented on #174
Net::IP::XS depends on IP::Country. Switching to Net::IP helps.

[2016-02-16 15:36] pawal commented on #174
This is the commit that introduced Net::IP::XS:
https://github.com/dotse/zonemaster-engine/commit/b0177f6a3f5451c897fa79a7393c77a413b1e28c

[2016-02-17 11:43] pawal commented on #174
What we should do:

Use Net::IP::XS if it is available (for performance reasons), otherwise, use Net::IP (to follow DFSG). It should be easy to do this, or what do you say @vlevigneron?

[2016-02-19 20:06] vlevigneron commented on #174
It does not seem that difficult, I have planed a Zonemaster sprint when
I'll be back from vacation (29th of february). I'll do that at this
occasion.

le 17 févr., Patrik Wallström a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2016-02-24 08:56] sandoche2k opened #175 "Error in status message (Zone category)"
Link : https://zonemaster.net/test/385345d6445bc3f9:

Actual Result

[code]
The second message above should be :+1:

[code]

[2016-03-15 08:07] vlevigneron commented on #171
Well, we should modify the algorithm described in specs...
The code is a little different from the specs, it adds a step to check an existing TLD, in case result for a non exiisting domain name query does not answer with a NXDOMAIN. With ns02.dns.ao behaviour we should ask for a domain name like afnic.fr instead of a TLD to detect it does not answer the query.
But do we consider that servers with

[2016-03-15 08:34] #175 closed

[2016-03-16 10:48] pawal opened #178 "Add NSID to queries and log results"
For anycast deployments, it is very useful to find out which node we we're talking to.

[2016-03-16 10:58] pawal opened #179 "uninitialized value $tld"
[code]

Should never happen.

[2016-03-18 07:28] vlevigneron commented on #165
Sounds reasonable to use everywhere JSON instead of JSON::XS. JSON tries to use JSON::XS by default.

[2016-03-18 10:15] jelu commented on #165
Update `docs/installation.md` also?

[2016-03-18 15:09] vlevigneron commented on #168
The issue is not in nameserver03 but it has to do with the way how axfr queries are saved/restored. It does not work, for now. I did some modifications on tests files to avoid that issue but we will have to modify the way chaching system works... later on...

[2016-03-19 16:24] vlevigneron opened #185 "Delegation::ENOUGH_NS_TOTAL typo in French"
"Les serveurs de noms de la zone parente et les serveurs de noms de la zone retournent suffisamment de serveurs faisant autorité (**{**ns1.ext.nic.fr;ns1.nic.fr;ns2.nic.fr;ns3.nic.fr;ns4.ext.nic.fr;ns6.ext.nic.fr). La limite inférieure étant fixée à 2."

[2016-03-19 16:26] vlevigneron opened #186 "Delegation::ARE_AUTHORITATIVE display too many name servers + translation issue"
1/ Not translated

2/ All name servers are displayed twice...
 "All these nameservers are confirmed to be authoritative : **ns1.ext.nic.fr,**ns1.ext.nic.fr,**ns1.nic.f**r,ns1.nic.fr,**ns2.nic.fr**,ns2.nic.fr,**ns3.nic.fr,**ns3.nic.fr,**ns4.ext.nic.fr**,ns4.ext.nic.fr,**ns6.ext.nic.fr**,ns6.ext.nic.fr."

[2016-03-21 09:32] pawal opened #187 "Implement updated test case dnssec02"

[2016-03-21 09:40] vlevigneron commented on #187
Will be implemented by the end of this week.

[2016-03-21 12:45] sandoche2k commented on #174
@mtoma and @pawal to have a look. The issue that @vlevigneron is having is due to MOOSE

[2016-03-21 13:34] #168 closed

[2016-03-21 13:36] #179 closed

[2016-03-21 13:39] #173 closed

[2016-03-21 13:40] jelu commented on #165
Installation documentation is still not updated.

[2016-03-21 13:45] sandoche2k opened #189 "Recording of AXFR test cannot be done without network"
Actually the AXFR test has been removed from namesever.t. When the AXFR test is done without the network, it is not possible to record the data.

[2016-03-21 14:06] pawal commented on #171
More examples:

ns-d1.tm while testing for tm
phobos.fccn.pt while testing for cv
ns-d1.io while testing for io
ns.utechjamaica.edu.jm while testing for jm

[2016-03-21 14:37] sandoche2k commented on #171
@matsduf edited .. (Got to update the below specifications)

Retrieve all address records for all the name servers using Method 4 and Method 5
A SOA query for an certainly nonexistent TLD name sent to the each name server IP address found in step 1, with the flag Recursion Desired (RD) set.
If any answer of the queries made in step 2 contains an RCODE with NXDOMAIN and the AA bit is not set, this

[2016-03-21 15:38] pawal opened #191 "Translation using the proper way to do gettext"
Locale::TextDomain is used by the Engine to translate strings to another language. However, its use in the code does not make the gettext workflow to work at all. Strings used in the code should be done in a way so that language files can be generated from it. A typical way to use it is as such:

[code]

$alt then contains the localized string. The function name can be changed.

See also this arti

[2016-03-21 20:44] pawal commented on #174
What was your approach @vlevigneron?

Something like this worked for me, but I was not near Moose when I tried it:

[code]

[2016-03-21 21:54] vlevigneron commented on #174
Yes, something like that:

package Zonemaster::Net::IP v0.0.1;

eval {
    require Net::IP::XS;
    push @ISA, qw{Net::IP::XS};
    print "use Net::IP::XS\n";
    1;
  } or do {
    require Net::IP;
    push @ISA, qw{Net::IP};
    print "use Net::IP\n";
  };

1;

And with a simple test code (that works):

use Zonemaster::Net::IP;

my $a = Zonemaster::Net::IP->new( '1.1.1.1' );

use Data::Dumper;

[2016-03-21 22:26] vlevigneron commented on #174
In fact I had messages like:

You cannot coerce an attribute (address) unless its type
(Zonemaster::Net::IP) has a coercion at
/home/levigner/perl5/perlbrew/perls/perl-5.20.1/lib/site_perl/5.20.1/x86_64-linux/Moose/Exporter.pm
line 419

It is almost fixed, I forgot to modify some Moose type constraints.

2016-03-21 22:54 GMT+01:00 vincent levigneron <levigneron.vincent@gmail.com>
:

[2016-03-21 22:32] tomhrr commented on #174
The latest version of Net::IP::XS (0.17) makes IP::Authority an optional dependency, as in Net::IP.  It has been uploaded to CPAN, but may not yet be available for download.

[2016-03-22 09:31] pawal commented on #174
@tomhrr Thank you for this! I will let the Debian/Unbuntu package maintainer know about this as well.

[2016-03-22 11:05] mtoma commented on #174
https://hub.docker.com/u/afniclabs/

[2016-03-22 13:33] sandoche2k opened #193 "Modify the "Notice" information when DNSSEC not signed"
For DNSSEC tests, first check whether DS and DNSKEY are available. If both are not available, then issue a "NOTICE" saying "The domain is not signed with DNSSEC"

[2016-03-23 08:12] pawal commented on #193
This is dnssec07, which could probably be run first of all DNSSEC tests. If no DNSKEY or DS exists, no other DNSSEC tests at the [DNSSEC level](https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/DNSSEC-TP/level.md) are relevant.

[2016-03-24 22:33] vlevigneron commented on #185
Typo fixed in previous patch...

[2016-03-24 22:33] #185 closed

[2016-03-25 13:41] vlevigneron commented on #187
It has been implemented (pull request will follow) but you should know that :
1. NO_DNSKEY has been raised from WARNING to ERROR
2. A new return value has been added (DS_RFC4509_NOT_VALID) wich needs translation. It has been set an ERROR level.
3. We still check all DS of type 1 and 2, if present..
4. I have not yet configured intentionally broken zones, so if you know some domain names with that

[2016-03-25 17:07] vlevigneron commented on #171
Hi, I guess we missed something. I am working on the implementation of the new algorithm, and (it's not yet finished) I have SERVFAIL on servers that we do not take into account (this servers answer auttoritatives queries). For instance, with zonemaster.net, the server ns2.nic.fr will be considered recursor whereas it is not... Of course it would be better to have a REFUSED instead of a SERVFAIL,

[2016-03-25 17:11] pawal opened #196 "Add Swedish translations"
Swedish translations for these strings in sv.po:

"DS record with keytag {keytag} and digest type {digtype} does not match the DNSKEY with the same tag."
"DS record with keytag {keytag} and digest type {digtype} matches the DNSKEY with the same tag."
"Existing DS with digest type 2, while they do not match DNSKEY records, prevent use of DS with digest type 1 (RFC4509, section 3)."

[2016-03-25 18:21] #187 closed

[2016-03-25 18:25] pawal commented on #171
SERVFAIL is a bit of a strange result to receive, but it should not be considered a valid recursive answer. So yes, I think the modification you suggest is something we should do.

[2016-04-05 08:10] einar opened #198 "No control of illegal CNAMEs"
I just realized we missed to take the check of "illegal cname presence" from DNSCheck (ZoneCheck didnt have this though), my bad I must have missed it. Anyhow it can easily be seen with the domain "applegift.se" as DNSCheck correctly checks for the presence of (illegal) CNAMEs.

This is a feature, not a bug so should be classed as such. Although we did miss this check from DNSCheck.

(http://dnsch

[2016-05-10 00:48] netlexer opened #199 "CPAN build failure due to failed tests"
Building on Debian 8.4  (Jessie) using cpan, "make test" fails two tests.

[code]

[2016-05-10 06:14] sandoche2k commented on #174
@vlevigneron Can you confirm this issue is solved. @pawal once it is confirmed that this issue is fixed.. can we have a release so that packaging work could proceed

[2016-05-10 07:02] sandoche2k opened #200 "RRSIG warning"
To show a warning if RRSIG only have XX days left.

Requirement by tobbe@interlan.se

[2016-05-10 07:13] pawal commented on #174
I have not seen any recent commit fixing this issue.

[2016-05-10 07:48] vlevigneron commented on #174
OK, I'll check that today.

le 10 mai, Patrik Wallström a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2016-05-10 08:22] sandoche2k commented on #171
@vlevigneron Can you have a look at this issue also?

[2016-05-13 13:10] HLFH commented on #144
Coucou. @vlevigneron. Pourquoi sur zonemaster.fr, on a toujours l'erreur de traduction ? https://zonemaster.fr/test/1f2cd3d9cc956080

[2016-05-13 13:16] HLFH opened #201 "Translation not updated on Zonemaster.fr instance"
Coucou. @vlevigneron. Pourquoi sur zonemaster.fr, on a toujours l'erreur de traduction ? https://zonemaster.fr/test/1f2cd3d9cc956080

Aucune cible [...] n'a été trouvée pour faire parvenir un message à ce nom de domaine.
Les fichiers share/fr.po et share/fr_FR.UTF-8.po, ont-il été actualisé sur l'instance Zonemaster.fr ? Je ne crois donc pas. Serait-il possible de le faire ? Merci.

Lié à : https:

[2016-05-14 14:58] aabdnn opened #202 ""{rrtypes}" in DEBUG logging output"
When I run zonemaster-cli (1.0.3) against zonemaster-engine-1.0.13 with --level=DEBUG, I see such output:

[code]

I believe this is caused by code like this:

[code]

Note that "type" should be "rrtype". This needs fixing in a number of files.

[2016-05-23 11:37] sandoche2k commented on #174
@pawal Can you verify the pull request :https://github.com/dotse/zonemaster-engine/compare/master...vlevigneron:fix-issue-zonemaster-engine-174?expand=1

[2016-05-23 12:01] pawal commented on #174
@sandoche2k For this I want to install on a clean machine. I don't have any set up right now, we'll see if I have time during the RIPE week that starts now.

[2016-05-23 12:04] sandoche2k commented on #174
I am at RIPE too :-)

On 23 May 2016 at 14:01, Patrik Wallström <notifications@github.com> wrote:

[2016-05-28 07:49] #202 closed

[2016-05-28 19:37] #186 closed

[2016-05-30 15:41] vlevigneron commented on #200
In fact there is already a message from dnssec04, REMAINING_SHORT (level: WARNING) where there is less than 12 hours left.

I close the issue, but you can re-open it if you can have more details about what is missing.

[2016-06-02 09:47] pawal opened #206 "Add filters to hostnames / messages"
This is as missing requirement from DNScheck.

Explanation from @aabdnn

In DNScheck, there is a filter feature, which allows more fine-grained control over certain tests. For example at the RIPE NCC, when we do pre-delegation checks, and one of the name servers is "ns.ripe.net" then we wish to downgrade any errors for it from ERROR or CRITICAL to WARNING, because we know that the server isn't yet

[2016-06-06 09:05] sandoche2k commented on #200
@vlevigneron @pawal Is 12 hours before a sufficient warning period (or) do you think we can increase the timer to some 48 or 72 hours?

[2016-06-06 09:20] vlevigneron commented on #200
If you want, we can keep this specific message with the 12 hour threshold and modify RRSIG_EXPIRATION which is always returned but gives only the date. We could have date+days lefts... Comments ?

[2016-06-06 09:23] sandoche2k commented on #200
And.. when will it become a warning ?

On 6 June 2016 at 11:20, vlevigneron <notifications@github.com> wrote:

[2016-06-06 09:25] vlevigneron commented on #200
The warning is kept on REMAINING_SHORT but we can increase from 12 hours to 24/48/72...

[2016-06-06 09:27] sandoche2k commented on #200
I will go for 72, providing sufficient time.

[2016-06-06 10:19] sandoche2k commented on #200
Hi Tobbe,

    This was a requirement from you. Can you comment on the 'value',  the
XX days could be?

Sandoche.

On 6 June 2016 at 11:25, vlevigneron <notifications@github.com> wrote:

[2016-06-09 09:57] sandoche2k commented on #171
@pawal - Seems to have been fixed. Test with the updated version :+1:

[code]
and with the old version : https://zonemaster.net/test/e8ee9576df0b8147

[2016-06-09 10:14] sandoche2k commented on #165
i agree with @jelu the issue still has to be closed. I have made a pull request https://github.com/dotse/zonemaster-engine/pull/208

[2016-06-09 12:17] sandoche2k commented on #193
@vlevigneron "Shouldn't the message below be "The domain is not signed with DNSSEC" rather than "There are neither DS nor DNSKEY records for the zone". This is just a query. For me, either messages are OK.

zonemaster-cli motounit.fr
Seconds Level     Message
======= ========= =======
  25.21 WARNING   All nameservers IPv4 addresses are in the same AS (16276).
  25.21 WARNING   All nameservers IPv

[2016-06-09 13:28] sandoche2k commented on #206
@vlevigneron Can you have a look and see whether it is possible? This is a requirement from RIPE.

[2016-06-13 09:40] sandoche2k commented on #206
@pawal @vlevigneron

Filters are explained in the following link under the section "Filter rules"'
https://github.com/dotse/dnscheck/blob/master/engine/lib/DNSCheck/Overview.pod

Also, I had a look into DNSCheck and found out the coide in this module : https://github.com/dotse/dnscheck/blob/a04e3971f93307de358fb2db57d43a61ff8c3155/engine/lib/DNSCheck/Logger.pm

``
Add a log entry filter. When a me

[2016-06-15 10:57] pawal opened #209 "CONNECTIVITY:NAMESERVER_NO_UDP_53 (and TCP) when ns not authoritative"
CONNECTIVITY01 (for UDP) and CONNECTIVITY02 (for TCP) tests if the nameserver responds to any DNS queries. However, it seems that the implementation of this checks if the nameserver is authoritative.

While the nameserver responds with REFUSED, the following error messages are logged:
[code]

(longer log of course)

DELEGATION:IS_NOT_AUTHORITATIVE logs the same thing, but more correctly, but the l

[2016-06-15 11:34] pawal opened #210 "DNSSEC:EXTRA_PROCESSING_BROKEN when not authoritative"
DNSSEC06 and DNSSEC:EXTRA_PROCESSING_BROKEN gives errors when the nameserver is not authoritative (response is REFUSED). Checking for REFUSED (or something similar) should probably be added to the specification and the implementation.

[code]

[2016-06-15 11:54] vlevigneron commented on #206
I just had a quick look at logger part of the code and it seems that
some filter mechanisms already exists. I can not confirm yet it does the
same thing and works like DNScheck one because I have never used that
feature, but if it is the case, it should be faster than expected to
complete this feature.

le 13 juin, sandoche2k a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2016-06-16 07:11] sandoche2k commented on #206
@aabdnn As promised, i am getting back to you with some good news :-).

@vlevigneron who is working on this issue has assured us that this feature will be implemented by this week and will be part of our next release.

[2016-06-16 07:14] aabdnn commented on #206
Thank you very much for this piece of good news Sandoche! I look forward to this enhancement. I'll be travelling next week and for the next 2 weeks after that, but when you make the next release, just let me know, and I will be sure to try it out at my earliest opportunity.

[2016-06-22 10:08] sandoche2k commented on #206
@vlevigneron Shouldn't it be closed ?

[2016-06-22 10:27] vlevigneron commented on #206
Issues are automatically closed when corresponding "pull request" are
merged (unless I make a mistake in the comment).

So, if the pull request
https://github.com/dotse/zonemaster-engine/pull/211
is merged, it will close this specific issue.

le 22 juin, sandoche2k a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2016-06-22 10:30] sandoche2k commented on #206
@matsduf can you verify the pull requests
https://github.com/dotse/zonemaster-engine/pulls made by @vlevigneron

On 22 June 2016 at 12:27, vlevigneron <notifications@github.com> wrote:

[2016-06-25 09:08] #206 closed

[2016-06-25 09:11] #148 closed

[2016-06-25 09:16] #210 closed

[2016-06-25 09:16] #193 closed

[2016-06-25 09:16] vlevigneron opened #216 "Swedish translation needed"
Need swedish translation for messages with tag:
CONSISTENCY:EXTRA_ADDRESS_PARENT
CONSISTENCY:EXTRA_ADDRESS_CHILD
CONSISTENCY:TOTAL_ADDRESS_MISMATCH
CONSISTENCY:ADDRESSES_MATCH

See https://github.com/dotse/zonemaster-engine/pull/212

[2016-06-25 09:32] vlevigneron opened #217 "Translation of categories, type of errors..."
Categories like NAMESERVER, ADDRESS or levels of message WARNING, ERROR are not translated... Is it something that we should consider ???

[2016-06-25 09:34] vlevigneron opened #218 "Translation of categories, type of errors..."
Categories like NAMESERVER, ADDRESS or levels of message WARNING, ERROR are not translated... Is it something that we should consider ???

[2016-06-25 11:32] matsduf commented on #209
The code should not check  the rcode, just verify that there is a DNS response.

[2016-06-25 11:36] matsduf commented on #117
It is not fixed.

[2016-06-25 12:34] matsduf commented on #200
Will contact @tobbe-eklov to discuss the use case.

[2016-06-25 12:41] pawal commented on #200
If this value is hardcoded, it should probably not be. It should be put in a configuration file, so that anybody can change it to their needs. This goes for any hardcoded values in the code.

[2016-06-25 12:49] vlevigneron commented on #200
@pawal, this is more or less the results of our discussions, but we have to identify how many hardcoded values which are in the code and modify engine accordingly to be able to accept user changes. For the moment, there is no mean to modify tests cases behaviour.

[2016-06-25 13:28] matsduf commented on #199
[code]

Please test again. The test code assums there is no name server at 127.0.0.17.

[2016-06-25 13:32] vlevigneron opened #219 "Hardcoded fake address in t/nameserver.t"
[code]

We take a risk that 127.0.017 is really "used"... Should be changed...

[2016-06-25 13:34] vlevigneron commented on #218
duplicated by mistake

[2016-06-25 13:34] #218 closed

[2016-06-25 14:09] matsduf commented on #201
Fixed in the code. There is some issue with the installation on zonemaster.fr.

[2016-06-25 14:11] matsduf commented on #196
Also see #216

[2016-06-25 14:12] matsduf commented on #191
This requires thorough investigation.

[2016-06-25 14:33] sandoche2k commented on #189
@vlevigneron discussed. Needs more investigation to be done

[2016-06-25 14:43] matsduf commented on #198
Needs investigation and setup of test zones. AP to @vlevigneron to setup the test zones.

[2016-06-25 14:57] matsduf commented on #140
Update the specification of DELEGATION01 to make sure that the meaning is clear and cannot be missunderstood what "at lease two nameservers" mean.

[2016-06-25 15:18] matsduf commented on #217
This is a feature request. The Swedish IIS implementation will need it, or do some work-around.

[2016-06-25 15:25] matsduf commented on #219
Any address could be in use, but it is very unlikely that any address from 127.0.0.0/8 is not on localhost. Can a "icmp ECHO REQUEST" be used to check for the presence of that address?

[2016-06-25 17:16] vlevigneron opened #221 "Update documentation for logfilters"
related to dotse/zonemaster-engine#206

Ducumentation in Config.pm still refers to the previous format...

[2016-06-26 08:13] vlevigneron opened #222 "couldn't find pod for Zonemaster::Net::IP"
Add proper pod sections in code.

[2016-06-26 08:38] pawal commented on #60
Ping @sandoche2k - could you put logconsistency.md back somewhere in the docs structure?

[2016-06-26 08:46] matsduf opened #223 "Remove dependency of gettext binary at build time using CPAN installation?"
Investigate the possiblity to remove the dependency of binary gettext at build time from CPAN. Use perl gettext instead?

[2016-06-26 08:58] matsduf opened #224 "Do a clean-up of handling of translation files at CPAN package creation (release process)"
At installation, the *.po (locale translation files) are converted to the equivalent *.mo files and put in the correct locale directory, but only if the binary msgfmt is available. The conversion must be done at installation time since it is architecture dependent.

(Use perl library Locale::Msgfmt instead.)

Add a Makefile dependency on msgfmt so that there will be hard failure if not present or

[2016-06-26 08:59] pawal commented on #223
Here are some suggestions on how to do it:
http://perladvent.org/2013/2013-12-09.html

[2016-06-26 09:03] vlevigneron commented on #223
Look at http://search.cpan.org/~azawawi/Locale-Msgfmt-0.15/script/msgfmt.pl

[2016-06-26 12:26] matsduf commented on #174
@oerdnj : The information from tomhrr (see above in this issue) says that Net::IP::XS is no longer mandatorily dependent on IP::Authority. Will that mean that code dependent on Net::IP::XS is packeagable for Debian and Ubuntu?

[2016-06-26 12:28] matsduf commented on #174
Net::IP::XS is now removed from the engine. Should it be reintroduced? Optional?

[2016-06-26 12:35] matsduf commented on #170
Would require a specification first.

[2016-06-26 12:38] matsduf commented on #165
The installation document is updated. Close ticket.

[2016-06-26 12:38] #165 closed

[2016-06-26 12:46] matsduf commented on #127
@matsduf updates the strings in the Swedish translations so that there is always quoting around all "domain names".
@vlevigneron  updates the strings in the English and French translations so that there is always quoting around all "domain names".

[2016-06-26 12:49] matsduf commented on #102
It is a work in progress. AP to @vlevigneron updated this ticket on the status. Also see #60.

[2016-06-26 12:50] matsduf commented on #60
See #102.

[2016-06-26 12:54] matsduf commented on #178
A specification is to written for this feature.

[2016-06-30 08:01] pawal commented on #171
Here are four TLDs where Zonemaster with this fix cannot determine if the nameserver is an open recursor or not:
http://tldmonitor.blipp.com/tag/RECURSIVITY_UNDEF

[2016-06-30 10:44] vlevigneron commented on #171
I did some tests on .mil (which is in your list), for all queries specified in the new spec (the one in this thread we discussed during a F2F meeting, not the one in /doc which has not been updated), the servers reply  NXDOMAIN with AA bit set in all cases. According to the algorithm described above, we reach all the time step 8 (If step 5 has been tested five times, stop this test case with WARN)

[2016-07-01 10:29] mattias-p commented on #191
Today there's a single `__` subroutine call in `Zonemaster::Translator` that performs all the translations. For the gettext work flow to work out, the `__` call needs to be distributed to each one of the MSGID string literals, which in turn means that the `Zonemaster::Test` interface needs to be extended with the possibility to perform translation with arguments.

Proposed API change:
 1. Add `Zon

[2016-07-01 17:09] matsduf commented on #171
My conclusion is that is not wrong to get "WARNING   Can not determine nameservers recursivity." The behavior of the MIL server is wrong:
[code]

The ET server has the same problem as MIL.

The MP servers returns answers with AA unset, ANSWER==0 and status==NOERROR but no referal. That should also be OK.

One VU server is like the MP servers.

Let us update algorithm to make sure that MP and VU pa

[2016-08-10 08:22] aabdnn commented on #206
Hello folks. I've finally gotten round to testing the filter functionality, and it works for me on the command-line. I created an alternative config file, and used the zonemaster-cli --config option to load this config file, and it downgrade certain errors to warnings.

However, I can't figure out how to invoke this alternative config in the back-end. The back-end allows specifying profiles, but a

[2016-08-10 09:03] sandoche2k commented on #206
Hi Anand,

   As far as i know you are right. I have updated the issue so that it can
be fixed : https://github.com/dotse/zonemaster-backend/issues/174

On 10 August 2016 at 10:22, Anand Buddhdev <notifications@github.com> wrote:

[2016-08-22 18:58] stirnim opened #226 "NSEC3 Opt-Out"
I think the use of NSEC3 Opt-Out should cause an INFO message or even WARNING. See also https://tools.ietf.org/html/rfc6781#section-5.3.4

e.g. protonmail.ch

[2016-08-22 20:17] stirnim opened #227 "DNSSEC Key Size"
It seems that zonemaster does not check the RSA key size yet. RFC 5072 states:

for example key.seckle.ch uses an RSA key size of 4104 bits and zonemaster does not issue a WARNING about this.

====
Comment 2019-06-28: Correct RFC is [RFC 5702](https://tools.ietf.org/html/rfc5702#section-2). /@matsduf

[2016-09-20 12:39] mattias-p commented on #219
I think it's reasonable to assume the TEST-NET-1, TEST-NET-2 or TEST-NET-3 ranges aren't being used. Just picking one of those addresses should be enough.

Is there any meaningful difference between the block of tests mentioned above (at `t/nameserver.t` line 125) and this block at line 62? Except of course that the block at line 125 makes one more test.

    my $broken = new_ok( 'Zonemaster::Name

[2016-09-20 12:59] sandoche2k commented on #219
@mattias-p We discussed this recently. Will there be a performance issue in case if there are multiple pings to be done.

[2016-09-20 13:31] mattias-p commented on #219
Am I missing something here? I thought this was about testing the behaviour of the Nameserver object when there's no DNS server at the destination?

Since the TEST-NET-ranges are reserved for documentation I think it's safe to assume that they don't respond to DNS. If we can agree on that, we don't have to scan anything at all. Just pick an IP, use it and we're done.

If it turns out for some reas

[2016-09-28 12:34] #209 closed

[2016-10-03 15:57] aabdnn opened #228 "Connectivity tests incorrectly programmed"
I'm running tests for a zone (179.143.in-addr.arpa), and getting the following output:

[code]

My understand of the connectivity tests is to see if a name server answers queries. In this specific case, the name server ns.ripe.net has the zone configured but the zone has expired, and so the responses are SERVFAIL. As far as I am concerned, the name server is answering queries, and is perfectly rea

[2016-10-06 11:15] sandoche2k opened #230 "Issue while running "make test" in "CentOS Linux release 7.2.1511 (Core)""
@vlevigneron
[sandoche@vps323914 zonemaster-engine]$ make test
[code]

[2016-10-06 11:59] aabdnn opened #231 "Using alternative config with logfilter fails"
I'm testing with zonemaster-engine HEAD. When I try to use an alternative config with a logfilter, I am getting an error:

[code]

My config looks like this:

[code]

[2016-10-06 13:39] vlevigneron commented on #230
I have not test on CentOS but it seems it has something to do with JSON and JSON::XS modules.
Can you execute the following command on the file  lib/Zonemaster/Config.pm:
sed -i 's/ read_file / scalar read_file /g' Config.pm
Tell me if it's better. If it is the case I'll will modify the code accordingly.

[2016-10-06 13:46] sandoche2k commented on #230
I do not have any ouput on running the following command :

[sandoche@vps323914 zonemaster-engine]$ sed -i 's/ read_file / scalar
read_file /g' lib/Zonemaster/Config.pm

On 6 October 2016 at 15:39, vlevigneron <notifications@github.com> wrote:

[2016-10-06 13:50] vlevigneron commented on #230
You won't have any output. It modifies the content of the file Config.pm.
Then you can compile and do a make test again and see if it's better than
before.

2016-10-06 15:46 GMT+02:00 sandoche2k <notifications@github.com>:

[2016-10-06 13:57] sandoche2k commented on #230
Cool. It seems to work :100:

[code]

[2016-10-06 14:02] vlevigneron commented on #230
Just reopen it to add a commit and a pull request that will close it... I'll do it now...

[2016-10-06 14:23] #230 closed

[2016-10-07 10:33] aabdnn commented on #231
@vlevigneron @sandoche2k this is also causing failures in the backend. The runner process tries to start a check and fails like this:

[code]

[2016-10-07 11:53] sandoche2k commented on #231
@mtoma can you have a look at this issue?

[2016-10-07 15:26] sandoche2k opened #233 "Even though name servers are in different AS, the notice information says that ALL IPv6 are in same AS"
@vlevigneron
From kristian@larsendata.dk

I don’t understand why i get this error.
All nameservers have IPv6 addresses in the same AS

https://zonemaster.net/test/1f72f22664d03a81

Our nameservers are in different as numbers both on IPv4 and IPv6.

[2016-10-07 16:46] vlevigneron commented on #233
The message could be more explicit but it does not seems it's wrong. If you
read the specifications for that test case:
https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Connectivity-TP/connectivity03.md
you will notice that we get ns from parent, we have 2 answers
ns1.gratisdns.dk and ns2.gratisdns.dk but only ns1 has an IPv6 address.

2016-10-07 17:26 GMT+02:00 sandoche2k

[2016-10-07 17:42] pawal commented on #233
[code]

That gives you four different name servers with IPv6, with several different prefixes.

This is the debug output from Zonemaster:

[code]

[2016-10-07 18:50] Spirit55555 commented on #233
[code]

So there is mismatch between the returned number of nameservers. Maybe add a warning for that?

It is a bit confusing when the test shows you all 5 nameservers and their IPs, but only counts AS numbers based on the nameservers returned from the parent.

[2016-10-10 12:04] matsduf commented on #233
It is not generally considered to be an error when the child has more NS than the parent. I think a warning is too strong. A NOTICE that a difference has been found might be relevant. Please create a ticket in dotse/zonemaster if you want to see that change in the specifications for Zonemaster.

Agree. Please create a ticket on that.

[2016-10-12 21:03] aabdnn commented on #231
Hey guys, any news on this bug?

[2016-10-13 08:42] mtoma commented on #231
Hi Anand, as of now each logfilter rule is expected to be a list of hashes even if this list contains only one hash.

Here is your config file fixed accordingly:

[code]

[2016-10-13 10:20] aabdnn commented on #231
Okay, thanks for the clarification. Now it works properly.

[2016-10-28 09:02] matsduf opened #236 "Does not discover that NS points at CNAME"
Specification DELEGATION05 requires that no NS may point at CNAME. The engines does,not correctly discover such an error.

Delegation from the COM zone:

[code]

NS set from zone:

$ dig equityfeed.com ns @68.71.49.139 +norec

[code]

Records in zone:

[code]

[code]

[2016-11-02 14:01] matsduf opened #237 "Does not check the lack of NSEC3 records?"
Moved from https://github.com/dotse/zonemaster/issues/475 to this repo.

(Created by [bortzmeyer](https://github.com/bortzmeyer))

Among the three name servers of .sx, one does not return NSEC3 records:

[code]

The others do:

[code]

Unfortunately, Zonemaster does not catch the error https://zonemaster.net/test/27fc77fa8bb4c806

DNSviz does http://dnsviz.net/d/cf746c21f68a023a4a8daf78.sx/dnssec/

[2016-11-03 09:09] aabdnn opened #238 "Undelegated test behaviour is inconsistent"
Zonemaster's undelegated test behaviour is inconsistent, and doesn't quite do what it should. Here's how I believe it should work:

1. If the given name server is not in-zone, and no IP addresses are provided for it, then look up the A and AAAA addresses for it recursively in order to query them.

2. If the given name server is not in-zone, but IP addresses are provided for it, then do NOT query f

[2016-11-03 09:30] sandoche2k commented on #174
Referenced to the backend

[2016-11-03 09:30] #174 closed

[2016-11-03 09:32] sandoche2k commented on #219
@vlevigneron pick an address from the documentation address range

[2016-11-03 09:49] sandoche2k commented on #199
Verify

[2016-11-03 14:27] netlexer commented on #199
Sorry for the delay. I've now retested this and all tests pass.

[2016-11-03 14:27] #199 closed

[2016-11-07 09:18] sandoche2k commented on #140
Rather the modification should be done at DELEGATION 02 to check for a minimum of two IP addresses.

[2016-11-07 09:22] sandoche2k commented on #140
@vlevigneron updated the test specification https://github.com/dotse/zonemaster/pull/478

[2016-11-07 11:01] sandoche2k opened #239 "RIPE reverse domain fails "basic" on testing"
Testing 179.143.in-addr.arpa fails in the basic test itself

https://zonemaster.net/test/1de58fba40ae3cd7

whereas it is not the case in DNSCheck for the same domain

http://dnscheck.iis.se/?time=1478511992&id=5953948&view=basic&lang=&test=standard

[2016-11-07 11:02] sandoche2k commented on #228
@aabdnn which version of the engine are you using?

[2016-11-07 12:03] aabdnn commented on #228
@sandoche2k I'm using version 1.0.15 of the engine, where this bug has already been fixed. This report is a duplicate of #209 but no-one seems to have noticed it.

[2016-11-07 12:11] aabdnn commented on #239
This is an interesting failure. The zone 179.143.in-addr.arpa has 5 name servers at the delegation point in 143.in-addr.arpa, and 4 of them return a referral response, but only one of them fails. So zonemaster should be able to test the domain. However, it seems as if zonemaster fails immediately if it happens to query the one server that is giving a SERVFAIL response.

[2016-11-07 12:32] sandoche2k commented on #228
Thanks. Then i am closing the issue

[2016-11-07 12:32] #228 closed

[2016-11-07 14:08] sandoche2k commented on #233
@matsduf @vlevigneron @Spirit55555 pls. provide your opinion

I did discuss with @pawal regarding this issue and following are the options:

Issue 1 : AS diversity issue
=====================
1. We take into account only the nameservers from the parent.
2. We add a more detailed explanation in connectivity03.md, in the event of less than two IPv4 or IPv6 nameserver address obtained.

Issue 2 : Mis

[2016-11-07 14:26] matsduf commented on #233
**Issue 1:**

I do not think that we have to change anything in CONNECTIVITY03. We should rather change the WARNING message. Today it says "All nameservers have IPv6 addresses in the same AS". I'd suggest "All nameservers in the delegation have IPv6 addresses in the same AS".

**Issue 2:**

I think a NOTICE could be relevant, but then CONSISTENCY05 should be updated. Under "ordered description" we

[2016-11-07 14:41] sandoche2k commented on #233
@vlevigneron - no need to modify the specification ?

@matsduf - this is the case in consistency04.md ?

[2016-11-07 15:21] matsduf commented on #239
As far as I can see, 4 of them returns authoritative answer. One returns SERVFAIL.

[2016-11-07 15:26] matsduf commented on #233
@sandoche2k - CONSISTENCY04 is about consistency between the child nameservers ("All authoritative name servers must serve the same NS record set"). That is not the issue here.

[2016-11-08 09:59] matsduf commented on #239
If I test undelegated and list all the nameservers it will work in cli. But not if run it normally.

[code]

[2016-11-08 10:18] aabdnn commented on #239
Hi @matsduf. So this is an inconsistency. The cli *should* be able to run tests, based on the delegation responses from one of the parents of this zone. The error message "Not enough data about zone..." is not quite correct. Does this make sense?

[2016-11-08 11:11] sandoche2k commented on #239
I get the following. @matsduf is the engine the latest version ?
[code]

[2016-11-08 11:17] sandoche2k commented on #233
@matsduf CONSISTENCY04 is about "Name server NS consistency"

[2016-11-08 11:25] sandoche2k commented on #226
@vlevigneron do you think there is a specification change needed here ?

[2016-11-09 13:48] sandoche2k opened #240 "error while installing Engine using CPAN on Debian Jessie"
[code]

[2016-11-09 14:35] sandoche2k commented on #240
https://github.com/dotse/zonemaster-engine/pull/241/commits/c180649ee316f21e09f30b7954e6ab935b3b11d8

[2016-11-09 14:35] #240 closed

[2016-11-14 14:35] sandoche2k commented on #231
@aabdnn @mtoma closing the issue

[2016-11-14 14:35] #231 closed

[2016-11-16 10:19] #219 closed

[2016-11-21 15:35] vlevigneron commented on #226
@sandoche2k Well, it could if we plan to add more NSEC3 checks, but in the meantimes, it can be  added to DNSSEC10 test case easily.

[2016-11-21 20:37] vlevigneron commented on #233
@sandoche2k Consistency04 is not "consistent" with other CONSISTENCY test cases...

The first step should be:

1. Obtain the list of address records from [Method4](../Methods.md) and
   [Method5](../Methods.md).

[2016-11-21 21:04] vlevigneron commented on #233
@sandoche2k @matsduf message has been modified in CONNECTIVITY03. Swedish translation needed for NAMESERVERS_IPV6_WITH_UNIQ_AS,  NAMESERVERS_IPV4_WITH_UNIQ_AS and NAMESERVERS_WITH_UNIQ_AS (see en.po file)

[2016-11-21 22:55] matsduf commented on #233
@sandoche2k and @vlevigneron, I agree that Consistency04 should be adjusted. It should use only use Method3 to get the NS records. The Test Case compares the NS records returned by the *authoritative* namesservers, i.e. the nameservers of the child zone. I can make a PR with an update tomorrow.

[2016-11-21 23:17] vlevigneron commented on #233
@mattias-p in fact, we use Method5 instead of Method3 (methods 2 and 3 get only names instead of IP addresses, which is not relevant in this case).
I know you and @sandoche2k are in charge of the sepcs and I'm sure you will find the best way to deal with that issue before I implement it, but in the original specs, there is a reference to [RFC 1034](https://tools.ietf.org/html/rfc1034) (section  4.

[2016-11-22 06:48] matsduf commented on #233
@vlevigneron, if you are refering to Consistency04, it states "All authoritative name servers must serve the same NS record set". The purpose of it is to compare the NS records, not the IP addresses. I.e. method3 must be used.

[2016-11-22 07:27] vlevigneron commented on #233
@matsduf I'm not talking about what we compare, but the way we compare it, the first step in current specs is

It does not work because we query addresses, it should be, as other CONSISTENCY test cases, I mean use Method4 instead of Method2 and Method5 instead of Method3. It's a copmmon mistake done in specs, you just have to remember that results of Method2 and Method3 can not be queried.

[2016-11-22 09:55] sandoche2k commented on #226
@vlevigneron +1

[2016-11-22 12:57] matsduf commented on #233
@sandoche2k and @vlevigneron! After reading the Test Case again I have to admit that my comments above are not correct. The Test Case is correct, but unclear. You should extract the list of relevant nameserver by Method2 and Method3. You should get the IP addresses of those nameservers by Method4 and Method5 for nameservers whos name are in-zone and the IP addresses of the other nameservers from l

[2016-11-22 15:13] vlevigneron commented on #233
@matsduf and @sandoche2k what do you think of this simple change which has a wording very close to what is specified in CONSISTENCY* and NAMESERVER* and which is less ambiguous than the current one...

   4](../Methods.md) and [Method 5](../Methods.md).

   in step 1.

   from step 2, then the test case fails.

[2016-11-22 17:06] matsduf commented on #233
@vlevigneron, which document do you refer to? I have a suggestion for new language in CONSITENCY04 in https://github.com/dotse/zonemaster/pull/481. Please comment there if you want to suggest a change. Please note that Method4 and Method5 are not enough.

[2016-11-22 18:16] vlevigneron commented on #233
The "problem" with this new proposal is that it describes a kind of Method6.
It is a point that has been discused in the past and I know it's a source
of confusion, but it is useless to describe a process where you first call
Method2 and Method3, then Method4 and Method5 because Method2 is included
in Method4 and Method3 is included in Method5.

2016-11-22 18:06 GMT+01:00 matsduf <notifications@gi

[2016-11-22 22:48] matsduf commented on #233
@vlevigneron, you comment https://github.com/dotse/zonemaster/pull/481, please see reply there.

[2016-11-23 11:30] matsduf opened #248 "Update translation files for Swedish so that they match English for #246"
Translation files for English and French have been updated by PR #246 which fixes an issue described in issue #233.

Do the update for Swedish.

[2016-11-23 14:36] #171 closed

[2016-11-24 15:44] #226 closed

[2016-11-24 15:50] matsduf opened #249 "Update sv.po on NSEC Opt-out message"
Add Swedish messages in sv.po for messages added by issue #226 and PR #245.

[2016-11-28 08:04] sandoche2k commented on #233
Needs discussion and maybe a change in the specification. Hence moved to 2017.1

[2016-11-28 09:26] #239 closed

[2016-12-04 22:14] matsduf commented on #249
The update in PR #251 will solve this issue.

[2016-12-04 22:15] matsduf commented on #248
The update in PR #251 will solve this issue.

[2016-12-04 22:16] matsduf commented on #216
The update in PR #251 will solve this issue.

[2016-12-04 22:16] matsduf commented on #196
The update in PR #251 will solve this issue.

[2016-12-04 22:17] matsduf commented on #127
The update in PR #251 will solve this issue for Swedish (sv.po).

[2016-12-05 05:53] matsduf opened #252 "Duplicate tag in en.po"
The tag DS_MATCHES_DNSKEY appears twice in en.po. The following instance seems to be extra:

[code]

[2016-12-05 05:56] matsduf opened #253 "Tags without translations in en.po"
The following tags are listed in en.po without any translation (without neither msgid  nor msgstr). They are found in the code.

- CONNECTIVITY:IPV4_DISABLED
- CONNECTIVITY:IPV6_DISABLED
- CONSISTENCY:IPV4_DISABLED
- CONSISTENCY:IPV6_DISABLED
- DELEGATION:IPV4_DISABLED
- DELEGATION:IPV6_DISABLED
- NAMESERVER:IPV4_DISABLED
- NAMESERVER:IPV6_DISABLED
- ZONE:NO_RESPONSE_MX_QUERY
- ZONE:NO_RESPONSE_SO

[2016-12-05 10:51] matsduf opened #254 "Create meta format for .po translation files"
Today we have four separate .po translation files, en.po, fr.po, fr_FR.UTF-8.po and sv.po. All files must have exactly the same message IDs ("msgid"), which are actually the default message in English from the code. When new messages are added, the msgid must be added to all .po files. Today we have:

From en.po:
[code]
From fr.po:
[code]
From sv.po:
[code]

I suggest that we create a meta format

[2016-12-05 11:17] matsduf opened #255 "Let the code emit message tags instead of messages"
1. Today the test code emits messages in various situations. The are emitted with variables, and are then handled by the translations system. As an example, Zonemaster/Test/Basic.pm emits the message below under some conditions (errors). That exact message is then the msgid for the translation system. In most cases the English translation just return the same message, but in this case the message

[2016-12-05 16:34] matsduf commented on #249
Solved by merged #251.

[2016-12-05 16:34] #249 closed

[2016-12-05 16:34] matsduf commented on #248
Solved by merged #251.

[2016-12-05 16:34] #248 closed

[2016-12-05 16:34] matsduf commented on #248
Solved by merged #251.

[2016-12-05 16:35] matsduf commented on #216
Solved by merged #251.

[2016-12-05 16:35] #216 closed

[2016-12-05 16:35] matsduf commented on #196
Solved by merged #251.

[2016-12-05 16:35] #196 closed

[2016-12-05 16:36] matsduf commented on #127
The Swedish part solved by merged #251.

[2016-12-06 17:48] pawal commented on #254
This is pretty much a duplicate of #191.

[2016-12-06 17:57] pawal commented on #255
If you follow a strict gettext workflow, you generate translation files indicating exactly what has changed in the code at any time. If the original string has changed, this is reflected in the translation files. Any gettext tool can then pick it up and give the translator good help in what to change. This includes fuzzy matching with a good proposal for translation.

This also means that it would

[2016-12-07 10:14] sandoche2k opened #256 "Create the manifest file for engine"

[2016-12-07 11:23] matsduf commented on #256
The file is created. See updated document vi PR https://github.com/dotse/zonemaster/pull/485.

[2016-12-07 11:23] #256 closed

[2016-12-08 09:30] sandoche2k commented on #127
@vincent please complete the french part

[2016-12-08 17:32] matsduf commented on #255
I took a look at both Transifex and Lingohub (created trial accounts). I do not see that those would help us.

[2016-12-11 17:29] sandoche2k opened #258 "IPv6 results obtained even when they are disabled"
zonemaster-cli --no-ipv6 univ-st-etienne.fr
Seconds Level     Message
======= ========= =======
  18.31 WARNING   All nameservers IPv6 addresses are in the same AS (2486).
  18.43 NOTICE    There are neither DS nor DNSKEY records for the zone.
  18.43 NOTICE    The zone is not signed with DNSSEC.

[2016-12-11 17:30] sandoche2k commented on #258
Refer to https://github.com/dotse/zonemaster-gui/issues/176

[2016-12-12 16:55] matsduf opened #259 "The implementation of BASIC02 should return more specific error messages"
Errors captured by BASIC02 should result in more explicit error messages, e.g. making a difference between not being delegated and there is a delegation but no nameservers are reachable.

See discussion in https://github.com/dotse/zonemaster/issues/440

[2016-12-12 17:11] matsduf opened #260 "The implementation of Basic01 should only test for parent"
In https://github.com/dotse/zonemaster/issues/447 @pawal wrote:

QUOTE
The purpose of basic01 is to find out if there is a parent for the zone. _basic02_ is to find out if there is data in the parent for the zone to be tested.

[code]

So the above result does not makes sense. However, the same test for a domain that exists:

[code]
UNQUOTE

The test should be if the parent (the right-side of the

[2016-12-13 09:02] mtoma opened #261 "Stop using JSON::XS in the engine"
https://github.com/dotse/zonemaster-backend/issues/182

Was due to the wrong behaviour of JSON::XS in combination with perls before 5.20 and locales where numbers are encoded with a comma instead of a dot.

The folowing test code shows the problem:

[code]

With the following very wrong result as numbers must always be encoded with a dot in the JSON specification:

[code]

This bug shouldn't be pr

[2016-12-13 09:46] sandoche2k opened #263 "Versioning of the perl modules"
Refer to https://github.com/dotse/zonemaster/issues/461

[2016-12-13 10:03] sandoche2k opened #264 "Implement address01.md"
The specification for address01.md has been updated

[2016-12-13 10:10] sandoche2k opened #265 "Writing the specifications for naming"
Refer to https://github.com/dotse/zonemaster-engine/issues/60 an https://github.com/dotse/zonemaster-engine/issues/102

[2016-12-13 10:37] sandoche2k commented on #259
Oh hold, until we have a further look at basic02

[2016-12-13 10:43] sandoche2k commented on #258
no IPv6 means only IPv6 transport. But one can have other IPv6 tests

[2016-12-13 10:43] #258 closed

[2016-12-13 11:06] sandoche2k commented on #238
@matsduf will create a issue in Zonemaster

[2016-12-13 11:11] #237 closed

[2016-12-13 13:26] matsduf commented on #233
Issue fixed by PR.

[2016-12-13 13:26] #233 closed

[2016-12-13 13:33] matsduf commented on #227
On hold until TC is created.

[2016-12-13 13:45] matsduf commented on #223
See #224 too.

[2016-12-13 14:12] matsduf commented on #200
Low priority. Requires new design of policy file usage. Requires TC updates. Do we really want to do it?

[2016-12-13 14:18] matsduf commented on #198
Duplicate of #236.

[2016-12-13 14:18] #198 closed

[2016-12-13 14:19] matsduf commented on #191
Will investigate.

[2016-12-13 15:48] tobbe-eklov commented on #200
I want, but thats not what you want. :)

13 dec. 2016 kl. 15:12 skrev matsduf <notifications@github.com<mailto:notifications@github.com>>:

Low priority. Requires new design of policy file usage. Requires TC updates. Do we really want to do it?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/dotse/zonemaster-engine/issues/200

[2016-12-14 08:23] pawal commented on #200
The current RRSIG_EXPIRATION "date" tags are not very practical. They should be in ISO-8601 or POSIX time to be useful. That way the user can apply any policy on expiration times directly on the JSON output. That is a simple fix.

[2016-12-14 10:15] matsduf commented on #200
What @tobbe-eklov wants is to be able to configure when the warning shall be sent out. If changing the date format is sufficient, then we could look at that. An [RFC 3339](https://tools.ietf.org/html/rfc3339) format would in any case be better than what we have today.

@tobbe-eklov, whould it be useful for you to parse the message for the date and do your own calculation?

_Please reply directly i

[2016-12-19 11:36] vlevigneron commented on #261
fixed by dotse/zonemaster-engine#262

[2016-12-19 11:36] #261 closed

[2016-12-19 12:14] matsduf opened #267 "Use of uninitialized value in Nameserver.pm"
The following warning was emitted:

`Use of uninitialized value $answer2_string in string eq at /usr/local/share/perl/5.18.2/Zonemaster/Test/Nameserver.pm line 726.`

`$answer2_string` is created undefined on line 712, and can still be undefined in line 726.

From Nameserver.pm:

[code]

[2016-12-19 13:57] vlevigneron commented on #267
How did you get this warning ? Not it is not relevant but I don't get it when I run tests.

[2016-12-19 14:22] matsduf commented on #267
It popped up on standard error a while after I restarted the backend.

[2016-12-19 14:34] #267 closed

[2016-12-19 21:03] #263 closed

[2016-12-20 08:20] #222 closed

[2016-12-28 09:32] #253 closed

[2016-12-28 09:34] matsduf opened #271 "Update sv.po to match updates of en.po of PR #270"
en.po was updated by PR https://github.com/dotse/zonemaster-engine/pull/270. sv.po must also be updated.

[2016-12-29 23:35] matsduf opened #272 "When Cymru returns no ASN information, the information is less informational"
Zonemaster replies `Name servers have IPv4 addresses in the following ASs: .` when Cymru returns no information on the IP's. The message should be more informational, such as "AS cannot be determined".

Should Test Case CONNECTIVITY03 (https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Connectivity-TP/connectivity03.md) be updated to better determine various outcomes?

[code

[2016-12-30 12:27] d3xt3r01 commented on #272
I guess a ping would help ... and if it doesn't answer, let the use know ...
A mtr with the -z flag would show up AS numbers along the way ...
Also, a cleaner and neater way would be access to a looking glass / route server and checking the as-path from there or see if it's announced ( show ip bgp ... ) .

[2017-01-01 12:03] matsduf commented on #272
@d3xt3r01, the purpose of Test Case CONNECTIVITY03 is to determine if there is redundancy in ASNs of the nameserver IP addresses. I do not see how `ping` would help.

Please explain.

How would such a call look like? It must be something that we could include in the software and that could be used by all users of Zonemaster.

[2017-01-01 12:16] matsduf opened #273 "Add support for RIPE's riswhois"
Zonemaster depends Cymru for ASN data for Test Case CONNECTIVITY03 (https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Connectivity-TP/connectivity03.md). RIPE provides an alternative.

Update Zonemaster so that RIPE's riswhois can be used as an alternative or fallback to Cymru.

Example of lookup against RIPE:

[code]

Also see issue #272.

[2017-01-01 13:50] d3xt3r01 commented on #272
Nevermind my -z reference. I just noticed ```mtr  -z google.com``` uses cymru in the background to get the AS numbers.

I guess a looking glass wouldn't be too easy to implement / maintain...

I guess an easy workaround would be to use radb ? Traceroute uses it.
```whois -h whois.radb.net 89.38.234.2 | awk '/origin:/ {print $2}' | head -n 1```

[2017-01-01 13:52] d3xt3r01 commented on #273
+1

[2017-01-01 16:12] matsduf commented on #272
It looks like the data comes from RIPE Database. Is that really updated from actual routing information? Isn't the RIPE riswhois (see #273) a better source then? The latter comes from actual routing information (BGP).

[code]

[2017-01-01 16:45] d3xt3r01 commented on #272
From what I understand, RIPE is just one of the RIRs ( Regional Internet Registry ). RIPE - Europe, APNIC - Asia Pacific, ARIN, Americas .. etc.

riswhois gathers info from Remote Route Collectors (RRCs) - software ran on various machines from what I understand .. dunno under which control.

Radb gathers its info from various big organizations registered there.

So, I'm not sure I can tell which o

[2017-01-01 21:48] matsduf commented on #272
Yes, RIPE is one of the five RIRs. It covers Europe and Western Asia.

As I understand it, Riswhois is under the control of RIPE and collects data from different sites in the world. On https://www.ripe.net/analyse/internet-measurements/routing-information-service-ris/routing-information-service-ris it says

I tested an IP address from the US with the different tools and in this case radb did not h

[2017-01-03 11:50] pawal opened #274 "Performance is worse with the latest version"
Upgrading from Engine version 1.0.14 to version 1.0.16 has given me a performance degradation.

Previously with 1.0.14 running Zonemaster in parallel for 1528 TLDs:
[code]

Now the same run with version 1.0.16:
[code]

Why does not Zonemaster use Net::IP::XS even though it is available?

Do you not run performance benchmarks between releases?

[2017-01-03 16:12] matsduf commented on #274
Based on issue #174 Net::IP::XS was removed in Release 1.0.15, see https://github.com/dotse/zonemaster-engine/blob/master/Changes.

We could consider adding Net::IP::XS again, in some way or another, if requested.

[2017-01-03 21:28] pawal commented on #274
Consider it requested. The original goal was to use Net::IP::XS rather than Net::IP if it was available. Also, we one priority for Zonemaster was performance, but perhaps that changed.

[2017-01-04 08:23] pawal opened #275 "NAMESERVER:RECURSIVITY_UNDEF does not log host"
The log message NAMESERVER:RECURSIVITY_UNDEF does not log any attributes about which was the host that failed.

[2017-01-19 11:24] aabdnn opened #278 "Not-existent name server doesn't cause a failure"
I expect this test to fail (because name server abcdef does not exist):

[code]

However, Zonemaster (CLI 1.0.5, engine 1.0.16) happily passes this, with no errors emitted. This is a blocker for us, because it would allow bogus "nserver" attributes in domain objects in the RIPE Database.

[2017-01-19 17:54] matsduf commented on #278
I can confirm the bug in CLI, and I think that I found the place in the code (https://github.com/dotse/zonemaster-cli/issues/39). I created a ticket in the correct repo.

@aabdnn, have you confirmed that the error exists in the Engine too? When I look at the code and method `add_fake_delegation` in Zonemaster.pm it is stated that all names must have at least one IP address.

[2017-01-19 20:31] aabdnn commented on #278
Hi @matsduf. I think this logic is incorrect. IP addresses should _only_ be required for in-zone name server names. If a name server name is outside the bailiwick of the zone, then only its name should be passed to the engine. The engine should then lookup the addresses of this name server, before starting tests.

Consequently, if the engine cannot resolve a name to addresses, then this is a failu

[2017-01-20 08:34] aabdnn commented on #278
I meant to mention that this same issue occurs when a test is submitted by the RPC API. So the problem isn't just related to the CLI.

[2017-01-20 15:15] matsduf commented on #278
@aabdnn

I have confirmed that Zonemaster Backend has the same problem (bug) and I have created an issue for that (https://github.com/dotse/zonemaster-backend/issues/266). If that problem comes from code in Zonemaster Backend or Zonemaster Engine is not clear (to me). As you can see, I have confirmed that Zonemaster CLI has as bug in its own code creating its problem.

I agree with you that the be

[2017-01-25 07:59] pawal opened #279 "DNS Cookies"
Request for DNSViz by Mark Andrews:

DNS Cookies was defined in [RFC7873](https://tools.ietf.org/html/rfc7873).

Very useful addition to Zonemaster as well.

[2017-01-25 10:02] matsduf commented on #279
This issue is a duplicate of an existing issue, https://github.com/dotse/zonemaster/issues/484

[2017-01-25 10:02] #279 closed

[2017-02-01 14:25] aabdnn commented on #278
Hi @matsduf any update on this issue, and a fix for it?

[2017-02-01 14:45] matsduf commented on #278
@aabdnn, not yet but we have identified it as prioritized.

[2017-02-02 22:05] vlevigneron commented on #236
After I read the code I found out that it was not implemented as it should be according specifications, but with this example and the current specs, I'm not sure we catch that case.

Should we modify the specs like that:

1. Obtain the complete set of name server address records from the parent using Method4 and the child using Method5.
2. Obtain the complete set of name servers from parent using

[2017-02-09 11:24] sandoche2k commented on #278
@aabdnn
@vlevigneron will be applying a patch for the Engine. Then @mtoma will be look at the compatibility of the patch with the backend

[2017-02-09 17:10] #252 closed

[2017-02-10 08:41] aabdnn commented on #278
Thanks for the update @sandoche2k. I will wait to hear from you guys next week.

[2017-02-15 14:24] #221 closed

[2017-02-15 14:31] matsduf opened #286 "Update documentation on configuration"
The [documenation of configuration](https://github.com/dotse/zonemaster-engine/blob/master/docs/ConfigAndPolicy.pod) is incomplete. It does not cover filtering. Furthermore, an annotated json file is needed.

[2017-02-16 08:20] sandoche2k commented on #273
The technical maintenance plan mentions that the ASN look up service is managed by IIS "ASN Lookup

The ASN Lookup service asnlookup.zonemaster.net is (going to be) hosted by IIS, och is being managed alongside the current asnlookup.iis.se service. The operations department within IIS is running this service, and Zonemaster need an SLA for this service. Regular reports on the status of the operati

[2017-02-16 09:23] matsduf commented on #273
Yes, but I think that those are two different things. IIS will provide Cymru bassed ASN lookup for Zonemaster, but what this issue asks for is that Zonemaster as  code should support RIPE's riswhois too.

[2017-02-17 10:14] matsduf opened #287 "Do we really need both fr.po and fr_FR.UTF-8.po?"
For Swedish and English there is one po file each, sv.po and en.po, respectively. For French there are two, fr_FR.UTF-8.po and fr.po.

Unless anyone can argue why we should keep fr_FR.UTF-8.po, remove it.

[2017-02-21 08:26] matsduf opened #288 "Update implementation of Basic00"
Test specification https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Basic-TP/basic00.md has been updated by PR https://github.com/dotse/zonemaster/pull/479.

Update the implementation in Engine to meet the updated specification.

[2017-02-21 08:40] pawal opened #289 "Option to disable "basic" tests"
When #288 has been implemented, add a feature to disable the basic tests, especially basic00. Today there is no way to disable any of the basic tests.

[2017-03-02 08:48] sandoche2k commented on #238
@aabdnn @matsduf

If i understand clearly, there are two issues that need to be solved here:

1. Currently, for in-zone resolution, a look-up is done. For an in-zone resolution, the glue should be provided. If not provided, the engine should not stop testing with an error message
2. Any resolution (in-zone or not in-zone), should be done by the "engine" and not by the backend or the CLI

[2017-03-02 08:58] matsduf commented on #238
Yes, if glue is **not** provided the Engine should **continue** testing as much as it can without the address, but it should also emit an error that glue is missing. This should be equivalent to testing a delegated domain where glue is missing.

Any resolution of names **not-in-zone** should be done by the Engine so that any failure can be included in the report.

Names **in-zone** should not be r

[2017-03-17 17:06] #278 closed

[2017-03-17 17:08] matsduf commented on #238
Resolved by PR #285

[2017-03-17 17:08] #238 closed

[2017-03-17 17:22] matsduf opened #291 "New message for "fake delegation" needs update"
PR #285 introduces new messages for "fake delegation" that needs revision. The language is too cryptical:

`"FAKE_DELEGATION_IN_ZONE_NO_IP" => "Add a fake delegation for domain {domain} to in zone name server {ns} without IP address.",
`
`"FAKE_DELEGATION_NO_IP"         => "Add a fake delegation for domain {domain} to name server {ns} without IP address.",
`

Message is missing in the Swedish po f

[2017-03-20 18:21] vlevigneron commented on #236
@matsduf @sandoche2k Any news about this proposal ?

[2017-04-07 11:12] mtoma commented on #261
It was reported upstram by Calle a few years back, did not check recently if it was fixed.

[2017-04-07 11:15] mtoma commented on #261
Can you provide a use case where the difference in processing time between JSON::XS vs JSON::PP would make any real difference in the zonemaster context?

[2017-04-07 12:25] pawal commented on #261
There is a lot of json usage throughout the engine, that I mostly use. A simple performance indicator on the difference between PP and XS is this, which runs through encoding and decoding json a large number of iterations:

JSON::PP:
[code]

JSON::XS:
[code]

The difference is astronomical.

The same goes for Net::IP::XS mentioned in other issues...

[2017-04-07 12:31] matsduf commented on #261
@pawal, if you think that Zonemaster Engine should use JSON::XS instead of JSON::PP, please create a new issue is closed and completed. We will, however, not change anything now. Stick to Zonemaster Engine 1.0.16 if there is a performance issue. The real problem we have now with JSON is in the Zonemaster Backend.

[2017-04-07 12:41] pawal opened #293 "Make use of Net::IP::XS if available"
For performance reasons, please use Net::IP::XS if it is available to the Perl version running.

There has been a serious performance degradation since introducing Net::IP instead of Net::IP::XS.

[2017-04-07 12:43] pawal opened #294 "Use JSON rather than JSON::PP"
Using JSON instead of JSON::PP will make the performance of JSON improve a lot of JSON::XS is installed. There is a significant performance degradation using JSON::PP:

JSON::PP:
[code]

JSON::XS:
[code]

[2017-04-07 12:44] pawal commented on #274
See #293 and #294.

[2017-04-07 12:46] pawal commented on #261
Zonemaster Engine 1.0.16 was the version I used when I reported the first serious degradation of performance.

https://github.com/dotse/zonemaster-engine/issues/274

[2017-04-07 13:04] matsduf commented on #261
@pawal, the other issue refers to Net::IP::XS. This issue is about JSON::XS. If you think that Zonemaster should use JSON::XS, please make an issue of that. This issue is closed.

[2017-04-07 13:06] pawal commented on #261
I did that before commenting here.

[2017-04-10 09:18] mtoma commented on #294
Attached is a detailed execution profile of a zonemaster test (perl -d:NYTProf -I ../../zonemaster-engine/lib/ -I ../lib/ zonemaster-cli --json afnic.fr)

[index-subs-excl.zip](https://github.com/dotse/zonemaster-engine/files/909459/index-subs-excl.zip)

I think the JSON::PP::encode is the only external call to JSON encode in the engine. Feel free to correct me here, I reviewed all the other JSON

[2017-04-11 18:27] pawal commented on #294
I like your performance numbers, how did you perform this test in Zonemaster?

[2017-04-12 07:47] mtoma commented on #294
U used the NytProf module:
https://augustinalareina.wordpress.com/2011/02/05/getting-started-with-develnytprof/

[2017-04-12 08:08] #294 closed

[2017-04-17 20:19] matsduf commented on #260
@sandoche2k and @vlevigneron! When I look at the issue and BASIC01 I agree that the current implementation is wrong. It should not make the difference as reported above. But I cannot think of any example where it could be stated that the parent does not exist. The root always exists.

[2017-04-17 22:24] vlevigneron commented on #260
@matsduf I agree with you, as root always exists, the best we can do, with the
algorithm proposed, is to report, during zone testing, name of parent
zone found. We may miss the initial intent of this test.

The implementation of the proposed PR is more reasonable than the
current implementation, I guess.

le 17 avril, matsduf a ?crit :

--
	Vincent Levigneron  A.F.N.I.C.  Vincent.Levigneron@nic.fr

[2017-04-18 16:09] aabdnn opened #295 "Fake delegation with explicit IP address is ignored"
I have this scenario:

[code]

Notice that one name server is not responding. Now suppose this name server is actually going to be made available on a different IP address, and I want to test this before changing the name's address, and I do:

[code]

Now, the engine is ignoring the IP address that has been explicitly passed in, so I can't do a pre-delegation test of that specific IP address.

[2017-04-27 12:03] matsduf opened #296 "Updated according to updated Delegation01"
Delegation01 has been updated. Update the implementation.

https://github.com/dotse/zonemaster/pull/501

[2017-04-27 14:11] matsduf commented on #295
The engine ignores addresses of out-of-zone name servers in fake delegations. If a name server is provided with an IP address then that address should be used, and no recursive lookup should be done on that name server name. If only one address type is provided (IPv4, IPv6), then the other shoud *not* be looked up.

[2017-04-27 14:23] #127 closed

[2017-04-27 14:32] #260 closed

[2017-04-27 15:07] mattias-p opened #297 "Misleading english translations"
There are a number of error message translations in `/share/en.po` that speak of adding things (to some zone). This is misleading. What these messages should convey is complaints/statements that offending data was *found*, not that it *was added* nor that it *be added*.

[2017-04-28 07:42] matsduf commented on #260
Fixed by https://github.com/dotse/zonemaster-engine/pull/284

[2017-04-28 09:33] matsduf opened #298 "Investigate to provide long messages to be used in GUIs"
Today we provide short messages (error messages, warnings etc). We need to provide long messages too to be helpful for the users. This issue is to investigate how that could be done. Requirements:

- It should be possible to provide links in the long messages.
- It should be possible to reuse the long messages in different clients, e.g. different GUI implementations.

[2017-04-28 09:41] pawal commented on #298
I don't think verbose messages belong in the testing engine. You should probably look into having messages in a separate dictionary module, pairing the messages and translations with the shorter message codes available in the "raw" JSON output.

[2017-04-28 12:29] sandoche2k commented on #201
fixed

[2017-04-28 12:29] #201 closed

[2017-04-28 12:47] matsduf commented on #236
We will update DELEGATION05 so that it is not dependet on the METHODS, and so that CNAMEs are discovered.

[2017-04-28 15:57] matsduf commented on #298
We have preliminary decided to add extended messages and that they belong to the Engine component.

[2017-05-02 13:44] #264 closed

[2017-05-02 13:53] matsduf opened #299 "get_iana_address_spaces_infos.pl needs documentation"
PR #282 adds util/get_iana_address_spaces_infos.pl but without proper documentation. That must be added.

[2017-05-02 13:56] matsduf opened #300 "get_iana_address_spaces_infos.pl needs to include more checks"
PR #282 adds util/get_iana_address_spaces_infos.pl, which fetches two databases from IANA and stores them locally. The script must check things more before overwriting the present databases.

[2017-05-02 14:06] matsduf opened #301 "Create process for keeping synch with IANA IP address space databases"
With PR #282 Zonemaster will mirror the IANA IP address space databases (1), but there is no process to keep them in sync. Should Zonemaster include a cron script that could be run regularily to keep the mirrored database with the IANA dito? Or should the synchronization only be done at installation time?

1) The databases:
http://www.iana.org/assignments/iana-ipv4-special-registry/iana-ipv4-speci

[2017-05-02 15:45] vlevigneron commented on #301
Yes this is the plan. The current code must be considered as a first step of a more complex process we need to describe and put in place to keep the 2 files synchronized with the IANA database.

[2017-05-02 16:55] pawal commented on #301
Including a script in the *source code* that optionally could be run as a cron job sounds good. Since the engine is a library it should not install scripts, imho. Especially since a typical installation will set these files as owned by root.

[2017-05-09 08:00] pawal opened #302 "IPV6_ENABLED but no IPV6_NOT_ENABLED"
There is a log message tag called IPV6_ENABLED, but no corresponding IPV6_NOT_ENABLED. Same for IPV4_ENABLED, there is no IPV4_NOT_ENABLED there either. Please add those.

[2017-05-29 12:56] sandoche2k commented on #301
@vlevigneron can you have a look

[2017-05-29 13:32] mattias-p commented on #297
This was fixed in 0d9a7669a3b5c9943bd3b2c66591832e0ffb1db3.

[2017-05-29 13:32] #297 closed

[2017-06-01 17:23] matsduf opened #303 "Move Engine to new name space"
The name space for Zonemaster Engine is Zonemaster (Zonemaster::XXX), which is confusing when the other components (CLI, Backend, GUI) have their name space under Zonemaster. Move Engine to a name space one step below, i.e. Zonemaster::Engine and all its modules below that point.

[2017-06-01 17:34] pawal commented on #303
As an app developer using Zonemaster as the library, it is not confusing.

[2017-06-02 15:19] matsduf commented on #224
Resolved by PR #305

[2017-06-02 15:19] #224 closed

[2017-06-02 15:20] matsduf commented on #223
Resolved by PR #305

[2017-06-02 15:20] #223 closed

[2017-06-03 09:07] matsduf opened #306 "Updated installation instructions on "msgfmt"?"
With PR #305 Zonemaster Engine does not use binary msgfmt anymore. Instead there is a dependency of Locale::Msgfmt. It is stated as "required" in Makefile.PL. The dependency is only a build dependency.

Do we have to update the installation documentation to cover the change? Is package "gettext" still required for anything? Is the statement in Makefile.PL enough?

[2017-06-03 21:16] matsduf commented on #303
Resolved by PR #304

[2017-06-03 21:16] #303 closed

[2017-06-03 21:18] matsduf opened #307 "Update documentation to match new name space"
Name space for the Engine was updated with PR #304. Update documentation to match that.

[2017-06-12 14:20] matsduf opened #308 "Zonemaster fails to detect that DS is returned with NXDOMAIN"
corporate.hbgm.se and hbgm.se is hosted on and delegated to the same set of name servers. hbgm.se is a signed zone. When querying for "corporate.hbgm.se DS" the name servers responds with NXDOMAIN. Zonemaster does not detect this, and just reports that there is no DS.

Here illustrated with CLI, but the problem is shared with Backend, i.e. sits in Engine. Or we need to update the Test Case first.

[2017-07-16 12:56] pawal commented on #298
I would advise you to have the engine part of Zonemaster as slim as possible. This provides stability as the concern is only about testing, and not any part of user experience. Any application that needs to provide the user with a good experience can provide this as much as they need.

The bonus of this is that the engine will have more exact releases only based on testing. Not all users care abou

[2017-07-17 17:11] pawal opened #309 "Due to the mismatch in use of JSON and JSON::PP, the configuration might not be loaded"
When using the Engine as a library, and there are multiple different uses of JSON, JSON::XS and JSON::PP, the configuration and policy might never be loaded. The Zonemaster::Config is still using JSON, while other changes in the library indicates a change to use JSON::PP.

[2017-07-17 17:23] pawal commented on #309
This seems to be fixed in the non-released master branch.

[2017-07-17 17:23] #309 closed

[2017-09-12 12:22] sandoche2k commented on #300
@sandoche2k move to 2018.0

[2017-09-12 12:22] sandoche2k commented on #301
@sandoche2k move to 2018

[2017-09-12 12:24] sandoche2k commented on #299
@sandoche2k move to 2018.0

[2017-09-12 12:38] sandoche2k commented on #295
Relates to https://github.com/dotse/zonemaster/issues/495

[2017-09-12 12:41] sandoche2k commented on #265
@matsduf move it to 2018?

[2017-09-12 12:47] sandoche2k commented on #227
Refer to https://github.com/dotse/zonemaster/issues/494

[2017-09-12 12:50] sandoche2k commented on #255
@sandoche2K move it to 2018

[2017-09-12 12:53] sandoche2k commented on #217
@mattias-p have a look at it.
@sandoche2K move it to 2018

[2017-09-12 13:02] sandoche2k commented on #200
@matsduf update this issue

[2017-09-12 13:03] sandoche2k commented on #102
@sandoche2K move to 2018

[2017-09-12 13:03] sandoche2k commented on #60
@sandoche2k move to 2018

[2017-09-21 13:22] matsduf opened #312 "Updating dependency from Net::LDNS to Zonemaster::LDNS"
The Net::LDNS module changes name to Zonemaster::LDNS https://github.com/dotse/zonemaster-ldns/pull/13

All relevant references and dependencies in Zonemaster-Engine must be updated.

[2017-10-02 09:13] mattias-p opened #315 "Markdown rendering"
[Github has updated its markdown rendering engine](https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown), breaking some of documents. We need to update our markup to make it compliant with the new spec.

Specifically I've noted problems with headings that don't render properly anymore. [The new spec](https://github.github.com/gfm/#atx-headings) doesn't recognize NBSP as a separa

[2017-10-02 11:31] #315 closed

[2017-10-02 11:35] mattias-p commented on #315
Merged into develop.

[2017-10-05 09:26] matsduf commented on #291
Resolved by PR #292

[2017-10-05 09:26] #291 closed

[2017-10-09 09:05] matsduf opened #319 "Restore unit tests in Test-lastcases.t"
Two unit tests have been removed (commented) in Test-lastcases.t. They should be restored or replaced with relevant tests covering the field.

See PR #310

[2017-10-10 16:52] mattias-p opened #324 "Crash in Zonemaster::Engine::Nameserver"
Zonemaster::Engine::Nameserver is tripped up by the Backend test suite in dotse/zonemaster-backend#299.

[code]

Update:

The problem is that the internal state of Zonemaster::Engine can be poisoned, causing Zonemaster::Engine->add_fake_delegation() to crash when called with valid input.

The poisoning is caused in this case by Zonemaster::Engine::Nameserver->preload_cache() at the interface level

[2017-10-11 08:37] matsduf commented on #324
Is t/test01.t from Engine or Backend?

[2017-10-11 08:55] mattias-p commented on #324
The one in dotse/zonemaster-backend@6a363a3f72e2b5ad997a83d05dbd8af597f245c9.

[2017-10-11 09:08] mattias-p commented on #324
What happens is Zonemaster::Engine::preload_cache() is called with invalid cache data. That procedure should validate its input. Otherwise other parts of Zonemaster::Engine can't trust the format of the cache data, and invalid cache data can go unnoticed only to show up in unexpected places.

[2017-10-11 17:25] matsduf commented on #324
The issue for zonemster-backend was resolved by correcting the test01.data file for zonemaster-backend in PR https://github.com/dotse/zonemaster-backend/pull/299. See commit https://github.com/dotse/zonemaster-backend/pull/299/commits/516a5cb17de07f47f852de8ae43bf87d103569a3

@mattias-p, should this issue still be kept open?

[2017-10-16 08:58] mattias-p commented on #324
@matsduf Yes, I updated the description with more details.

[2017-10-19 12:39] matsduf opened #328 "Add method that reports if IDN support is available in Zonemaster::LDNS"
Both CLI and Backend imports Zonemaster::LDNS to be able to find out if Zonemaster::LDNS has been compiled with IDN support or not. Instead, add a method to Engine that returns true or false depending on whether IDN support has been compiled in or not.

When this issue has been resolved, add issues to CLI and Backend to use the feature.

[2017-10-24 12:41] matsduf opened #331 "Add instructions how to add new "locale""
For translation to work, the following locales must be installed/configured in the OSs:

- en_US.UTF-8
- sv_SE.UTF-8
- fr_FR.UTF-8
- da_DK.UTF-8 (soon)

Add instructions in the installation document for how to add them for each supported OS.

[2017-11-09 12:40] matsduf opened #343 "Missing French translation"
One message is not translated to French:

[2017-11-16 02:50] sandoche2k commented on #295
@vlevigneron verify https://github.com/dotse/zonemaster/pull/504

[2017-11-17 02:34] sandoche2k commented on #259
@matsduf can you have a look at this issue

[2017-11-17 15:09] vlevigneron commented on #302
@pawal There are IPV4_DISABLED and IPV6_DISABLED messages. Do you need something changed about that or is it ok for you ?

[2017-11-17 16:07] vlevigneron commented on #287
Closed by PR #345

[2017-11-17 16:07] #287 closed

[2017-11-18 09:31] #302 closed

[2017-11-21 13:39] pamasse opened #348 "Enrich progress information with test information"
Today, the engine only save the percentage of the tests progression.
It's could be nice for the GUI to save  in addition to the progression, the information about the current test such as it's name.

[2017-11-23 08:48] haarbo opened #350 "Danish translation"
[da.po.gz](https://github.com/dotse/zonemaster-engine/files/1498440/da.po.gz)

[2017-11-23 09:22] haarbo commented on #350
Please ignore this issue.

[2017-11-23 09:22] #350 closed

[2017-11-27 09:13] sandoche2k commented on #140
Update the error message from "Notice" to "Error" as discussed during the F2F on 27th Nov.

[2017-11-27 14:00] sandoche2k commented on #286
Look at https://github.com/dotse/zonemaster/issues/498

[2017-11-27 14:42] #296 closed

[2017-11-27 14:44] #286 closed

[2017-11-27 15:12] sandoche2k commented on #200
@vlevigneron Look at the possibility of configuring the hard-coded values in the code to be configured in the profile. An example, is the time remaining for the RRSIG expiration. This will provide users with the flexibility.

[2017-11-28 08:26] sandoche2k opened #352 "Add support from Danish translation"
Update makefile.pl etc.. to include da.po

[2017-11-28 09:48] sandoche2k commented on #343
closed by #347

[2017-11-28 09:48] #343 closed

[2017-11-28 09:51] sandoche2k commented on #306
closed by PR #305

[2017-11-28 09:51] #306 closed

[2017-11-28 09:51] sandoche2k commented on #312
Closed as part of release 2017.3

[2017-11-28 09:51] #312 closed

[2017-11-28 10:00] sandoche2k commented on #308
check whether the TC needs to be updated

[2017-11-28 10:00] sandoche2k commented on #307
closed by release 2017.3

[2017-11-28 10:00] #307 closed

[2017-11-28 10:13] sandoche2k commented on #274
Refer to #293

[2017-11-28 10:24] sandoche2k commented on #178
We have  to create a TC first

[2017-12-01 14:33] matsduf opened #353 "Bug in checking for delegation size?"
Checking tccsetup.com **sometimes** return

```The smallest possible legal referral packet is larger than 512 octets (it is 536). ```

which does not seem to be correct. See https://zonemaster.net/test/899dfc7e24e52c94. The delegation is

[code]

[2017-12-05 22:44] matsduf commented on #352
Nothing else is needed in Engine besides the po file.

[2017-12-05 22:44] #352 closed

[2017-12-06 21:33] mattias-p commented on #254
For reference, here's documentation for the PO format: https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html

[2017-12-08 14:44] matsduf opened #356 "Engine fails to verify NS in zone"
[NAMESERVER06](https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Nameserver-TP/nameserver06.md) says that "All name servers names listed for a delegation must be resolvable in DNS", which I think should be interpreted as including all NS listed in the apex of the zone.

This issue shows that there is a problem with the tests of the NS in the zone. That must be corrected.

2

[2017-12-08 14:51] matsduf commented on #356
@vlevigneron, can you look at this issue?

[2017-12-08 15:22] vlevigneron commented on #356
OK, I'll make a branch and new PR for that fix in the minutes.

For the request to add a space. Yes I could do that, but, we have many cases of lists of item and there is never a space. I guess that if we want to change that, we should decide, then change all of them to be homogeneous. That's why I would not change that in this fix.

[2017-12-08 16:48] pawal commented on #356
I'll put this here again: https://github.com/dotse/zonemaster-engine/issues/60 (but this is primarily for the JSON logs)

[2017-12-11 10:37] mattias-p opened #358 "Comments in PO files"
We use conventions in our PO files that are neither documented nor compatible with the strict format described in the [PO File documentation](https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html). Specifically we have a convention to document deduplicated messages by adding empty-line-separated comment blocks without msgid and msgstr lines in a semi-consistent way.

We should consid

[2017-12-13 09:17] sandoche2k commented on #275
@vlevigneron close the issue?

[2017-12-13 09:18] sandoche2k commented on #271
@matsduf please take a look.

[2017-12-13 09:20] sandoche2k commented on #254
@mattias-p If i remember correctly we decided to have a single file. Isn't it? Can you take a look at this issue?

[2017-12-13 09:21] sandoche2k commented on #140
@vlevigneron thanks for resolving this issue.

[2017-12-13 09:49] vlevigneron commented on #275
I guess it will be automatatically close once it will be merged in master branch.

[2017-12-13 10:24] sandoche2k commented on #275
closed by PR #311

[2017-12-13 10:24] #275 closed

[2017-12-13 12:07] sandoche2k commented on #295
@matsduf can you check and approve the commit?

[2017-12-13 14:38] matsduf commented on #295
@sandoche2k, we do not approve commits, we approve PRs. That commit is included in PR #355 which @mattias-p  and I have reviewed with requests for updates. That PR is also strongly connected to PR dotse/zonemaster-cli#63 which I have reviewed thoroughly. I have even installed the code from both PRs and tested different scenarios. Based on that I have given some comments in dotse/zonemaster-cli#63.

[2017-12-13 15:01] matsduf commented on #254
@sandoche2k, it is on me.

[2017-12-13 15:50] matsduf commented on #271
PR #359 created.

[2017-12-14 07:37] sandoche2k commented on #295
@matsduf PR #355 has been updated by @vlevigneron

[2017-12-14 15:04] sandoche2k commented on #140
closed by PR #360

[2017-12-14 15:04] #140 closed

[2017-12-15 11:04] mattias-p commented on #254
@sandoche2k, I would like to look into using gettext more like it's supposed to be used. Like working with gettext instead of against it. But that's a larger task.

[2017-12-15 12:09] matsduf commented on #254
@mattias-p, I have nothing against using gettext in a better way. I see using a single file as some kind of work-around, not working against gettext, but using a side track.

[2017-12-15 12:30] mattias-p commented on #254
@matsduf, I don't mind. I just wanted to respond to @sandoche2k.

[2017-12-18 12:50] matsduf commented on #271
Resolved by #359.

[2017-12-18 12:50] #271 closed

[2017-12-19 11:16] matsduf opened #363 "CONSISTENCY05 is not correctly implemented"
CONSISTENCY05 says that "The objective of this test is to verify that the glue records are consistent between glue and authoritative date". Glue records in this case are any address records (A or AAAA) that belong to the delegation, i.e. address records for in-bailiwick nameservers.

The implementation of CONSISTENCY05 must fetch the glue records from the parent zone, i.e. from the nameservers of

[2017-12-21 15:10] mattias-p opened #365 "Store recorded data in JSON"
Zonemaster Engine has support for recording and storing DNS responses in .data files.
These files have a simple line oriented format with three space-separated columns where the third field is a JSON encoded data structure.
While it's not difficult to operate on these files with standard tools such as `grep`, `sed`, `jq` and text editors, it's a fair amount of work to perform simple tasks.

@matsd

[2018-01-02 08:35] sandoche2k commented on #295
@vlevigneron can this issue be closed?

[2018-01-02 11:07] vlevigneron commented on #295
@sandoche2k The corresponding PR has been merged in develop branch. I guess this issue will be automatically closed when develop branch will be merged in master branch. I guess there is nothing to do now.

[2018-01-02 16:34] matsduf commented on #295
@vlevigneron, we usually close the issue when the PR has been merged to the develop branch.

[2018-01-02 16:44] vlevigneron commented on #295
@matsduf That's the purpose of "fixes dotse/zonemaster-engine#295" comment in commit that should do that automatically. We are not supposed to close issues manually with that kind of feature.

[2018-01-03 10:41] sandoche2k commented on #295
@vlevigneron i am also surprised. Anyway as the author, can you close it manually for logistic purpose?

[2018-01-03 10:45] vlevigneron commented on #295
Fixed

[2018-01-03 10:45] #295 closed

[2018-01-11 10:20] matsduf commented on #356
Resolved by #357.

[2018-01-11 10:20] #356 closed

[2018-01-17 14:37] pawal opened #370 "Debian 8: Missing Module::Install at perl Makefile.PL"
Following the installation instructions for Debian, perl Makefile.PL failes with the message that Module::Install is missing.

[2018-01-17 14:39] pawal commented on #370
Also, after fixing the issue above, the Makefile fails with the missing module Locale::Msgfmt.

[2018-01-17 14:40] pawal commented on #370
Running make test, emits some error messages stating that Test::Fatal is missing.

[2018-01-17 14:43] pawal commented on #370
make test also fails with a lot of "No plan found in TAP output".

[2018-01-17 15:09] matsduf commented on #370
Have you tried to install the release? Debian 8 is not supported.

[2018-01-17 15:34] pawal commented on #370
I installed the latest from Github.

In short, it works fine after fixing the missing stuff from the installation instructions.

[2018-01-25 10:20] matsduf commented on #370
@pawal, I have installed Zonemaster::Engine on Debian 8 following the (installation instructions)[https://github.com/dotse/zonemaster-engine/blob/master/docs/Installation.md], i.e. installing it from CPAN. `Module::Install` was not installed and not required. Do you have any problem when installing from CPAN?

[2018-01-25 10:36] matsduf commented on #358
@mattias-p, the po files were updated following "suggestion with reference" above by PR #362. The script `util/extract_po.pl` still creates files in the old format, but it we ever recreate the files by the script a lot of manual work is still needed (handling the translations) and this is just a minor part. I suggest that we let that script be unchanged for the time being.

[2018-01-25 12:52] pawal commented on #370
I had no problem installing and running Zonemaster Engine and CLI following the current installation instructions on a clean Debian 8 machine.

[2018-01-25 12:55] matsduf commented on #370
That is good. Then we can close this.

[2018-01-25 12:55] #370 closed

[2018-01-25 12:55] mattias-p opened #372 "Update translator instruction"
The [translator instruction](https://github.com/dotse/zonemaster-engine/blob/develop/docs/Translation.pod#for-translators) is not up to date with current practices. The instruction must updated to take #358 into account.

[2018-01-25 12:56] mattias-p opened #373 "Update extract_po"
The `util/extract_po.pl` script produces output that deviates from current practices. It's output must be updated to be in line with the [translator instruction](https://github.com/dotse/zonemaster-engine/blob/develop/docs/Translation.pod#for-translators) and #358.

[2018-01-25 13:03] mattias-p commented on #358
Closing this issue as it's covered by #372 and #373.

[2018-01-25 13:03] #358 closed

[2018-03-07 08:09] sandoche2k commented on #288
@vlevigneron pls. have a look at this issue.

[2018-03-29 09:49] #363 closed

[2018-03-29 09:50] matsduf commented on #363
Fixed in the v2017.4 release.

[2018-04-03 06:31] sandoche2k commented on #372
@mattias-p close?

[2018-04-03 07:42] matsduf opened #381 "Wrong level of NS_NO_RESPONSE"
NS_NO_RESPONSE is returned from basic02. The default level is NOTICE, but it should probably be WARNING or ERROR.

From `lib/Zonemaster/Engine/Test/Basic.pm`:
[code]
[code]

[2018-04-03 07:47] mattias-p commented on #372
At this time the translation instruction does not reflect our practices. For instance the instruction states that `en.po` should be generated by `extract_po.pl` and never be edited by hand, but that's not how we work today. See https://github.com/dotse/zonemaster-engine/issues/358#issuecomment-360427599.

[2018-04-03 15:34] matsduf opened #382 "False error in Nameserver09"
Nameserver09 verifies that the response is independent of the case (upper case/lower case) of the owner name in the query. When testing usmc.mil, an error is reported:

[code]
As can be seen from the following lookups, the responses are not identical, but the difference is only the case in the domain name in RDATA, and that should be OK:

[code]

[2018-04-05 11:01] mattias-p opened #383 "Profiles in Engine"
The behavior of Zonemaster Engine is configurable with regard to what tests are performed, how they are performed, and how the results are analyzed.

Today this configurability is split up into config and policy. However there is no documentation on the reason for the separation nor on how each part works. Also the config and policy differ with regards to file locations.

There must be proper docu

[2018-04-05 14:08] matsduf opened #384 "Bug in Nameserver.pm line 301"
At times 1.24, 1.36 and 11.59 Nameserver.pm spits out errors that indicates that it makes wrong assumptions about data.

[code]

From Nameserver.pm line 301:

[code]

[2018-04-06 09:03] sandoche2k commented on #288
@vlevigneron can you complete this for 2018.1?

[2018-04-06 09:27] sandoche2k commented on #259
@matsduf delegation is taken care of by delegation01.md. @vlevigneron @matsduf do you agree that basic02 implementation (rather than the test spec) should be updated with the resulting RCODE message, rather than the current message "Not enough data about "domain name" was found to be able to run tests." ?

[2018-04-06 11:38] matsduf commented on #259
[BASIC02](https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Basic-TP/basic02.md) can find one of several error situations when trying to extract a working name servers for the child zone (domain to be tested).

1.  The name does not exist (NXDOMAIN) (*)
2. The name exists, but not with delegation data/NS (NOERROR) (*)
3. There is a delegation, but missing glue means that no

[2018-04-06 12:05] sandoche2k commented on #259
1, 2 and 5 is based on the RCODE message
I think 3 is taken care by basic01

Anyway, please make a PR with the updates so that we can discuss on it.

[2018-04-10 10:10] vlevigneron commented on #272
While I fixed the "messages" issue, we should discuss about the specs and the use of method4 in this case. The way we get IP addresses to analyse is perhaps done on an improper way.

[2018-04-10 15:09] matsduf commented on #272
The specification in [CONNECTIVITY03](https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Connectivity-TP/connectivity03.md) is not appropriate.
[Method](https://github.com/dotse/zonemaster/blob/master/docs/specifications/tests/Methods.md#method-4-obtain-glue-address-records-from-parent) fetches glue from parent which could be empty. CONNECTIVITY03 should test all addresses t

[2018-04-12 12:25] mattias-p commented on #308
Requires updates to both spec and implementation. (either DNSSEC07 or DNSSEC11)

[2018-04-12 12:29] mattias-p commented on #384
We don't understand what's happening here, but in any case it's not reasonable to include source file references in the output.

[2018-04-12 15:40] sandoche2k commented on #301
@vlevigneron do you think it is possible to fix for 2018.1?

[2018-04-12 15:40] sandoche2k commented on #300
@vlevigneron Can you check whether you could complete in 2018.1 ?

[2018-04-12 15:41] sandoche2k commented on #288
@vlevigneron Can you check whether you could complete in 2018.1 ?

[2018-04-12 15:46] sandoche2k commented on #259
@vlevigneron test specification is updated. Can you have a look and decide on a timeline.

[2018-04-13 09:31] matsduf commented on #178
This should just be the output of the Engine as a message with DEBUG level, preferably each time a server is queried.

[2018-04-13 09:50] sandoche2k commented on #200
We will wait until the profile is completed.

[2018-04-13 09:53] sandoche2k commented on #301
The fix is made for 384

[2018-04-20 13:07] matsduf opened #390 "Zonemaster should try TCP when UDP is not available"
TLD `.pf` is appearently only available over TCP, not UDP. That is an error, but it would be better if Zonemaster could tell that. If Zonemaster does not get any answer from the child zone name servers over UDP, it should try with TCP.

Testing default installation:

[code]
Testing with updated config:
[code]
Now we get more information, even though I think it should have stated that no nameserver

[2018-04-20 13:32] aabdnn commented on #390
I suppose this is a useful test, but the message must be emitted at ERROR or CRITICAL levels.

[2018-04-20 13:41] matsduf commented on #390
@aabdnn, they are, or what do you mean?

[code]

[2018-04-20 13:42] aabdnn commented on #390
Er yes. Sorry, I'm a bit slow this afternoon :) It must be this warm weather here!

[2018-04-23 05:04] sandoche2k commented on #319
@matsduf close?

[2018-04-23 06:08] sandoche2k commented on #384
@matsduf close?

[2018-04-23 07:57] matsduf commented on #384
Issue solved by #389.

[2018-04-23 07:57] #384 closed

[2018-04-23 08:35] matsduf commented on #272
Fixed by #385.

[2018-04-23 08:35] #272 closed

[2018-04-23 08:37] matsduf commented on #319
Resolved by #378.

[2018-04-23 08:37] #319 closed

[2018-04-26 21:03] vlevigneron commented on #299
@matsduf @sandoche2k Do you think than --help option display in #387 is enough to close this issue ?

[2018-04-26 21:06] matsduf commented on #300
Solved by https://github.com/dotse/zonemaster-engine/pull/387

[2018-04-26 21:06] #300 closed

[2018-04-26 21:06] matsduf commented on #299
Solved by https://github.com/dotse/zonemaster-engine/pull/387

[2018-04-26 21:06] #299 closed

[2018-05-09 12:52] matsduf opened #392 "Define default severity level consistently"
The default severity level of a message (e.g. DOMAIN_NAME_LABEL_TOO_LONG) is defined in a policy/profile file. There is one exception for the DNSSEC test module the default levels are defined in the DNSSEC.pm file.

Both solutions are possible. We have assumed the former for the new profile solution (see dotse/zonemaster#606).

Make it consistent. There should be one solution.

[2018-06-20 14:28] mattias-p opened #401 "Review of messages"
Messages are declared in multiple places. There's a policy file, a msgid table, a table of messages per test case, and an implementation of each test case. All these places must match up, and it's easy to forget updating one of them.

We should have a tool that checks all these places (preferably also cross referencing the specifications) and reports any discrepancies.

[2018-06-26 08:41] matsduf opened #407 "Replace Github service Travis"
Github services are deprecated. The repo uses Github service to get the Travis function. We need to update before the end-date.

https://developer.github.com/changes/2018-04-25-github-services-deprecation/
https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com

[2018-06-28 13:36] matsduf opened #411 "Add more unit test data and unit tests to Delegation01"
After update of the specification of Delegation01 according to PR zonemaster/zonemaster#609 there will be many different outcomes. The tests are done independently on delegation and zone, respectively. And to verify that the implementation does not mix the two up, there should be test cases that has e.g. too few IPv4 in delegation but enough in zone.

[2018-07-04 12:04] mattias-p opened #419 "Broken Test-dnssec.t"
For some reason t/Test-dnssec.t fails for `dnssec08-dnskey-not-signed.zut-root.rd.nic.fr`. This wasn't noticed before because the previously recorded data didn't have this problem. However we're dependent on being able to re-record the test data for our unit tests.

The offending test has been commented out in order to have a passing test suite on the develop branch, but this should really be fixe

[2018-07-09 15:12] matsduf opened #423 "Error in implementation of Nameserver01"
The implementation of Nameserver01, in the develop branch, is incorrect. It is based on the updated TC specification, in the develop branch. It returns IS_A_RECURSOR if the server answers with NXDOMAIN on any of the three names defined. It should return IS_A_RECURSOR if the servers answers with NXDOMAIN on all three names.

[2018-07-19 00:54] hno opened #424 "method4 should return parent zone glue address records, but returns address records of parent ns records"
Noticed that zonemaster fails to detect mismatch of an A record between parent glue and zone data. Traced the error to method4 returning zone->glue which is an NSArray containing the parent zone ns records and resolved address records, not using glue address records at all.

Documentation for [Method 4](https://github.com/zonemaster/zonemaster/blob/master/docs/specifications/tests/Methods.md#metho

[2018-07-19 01:06] hno commented on #424
Gah, text description of Method 4 actually matches current implementation, but not it's own title.

[2018-08-15 16:35] mattias-p opened #428 "Configurable public resolver"
Some test cases rely on a recursive resolver to perform some lookups. As of now the resolver is hardcoded to 8.8.8.8 in the source. This choice should not be hardcoded but rather configurable.

[2018-08-16 14:01] mattias-p opened #430 "Test for MANIFEST coverage"
One of the most common things we forget when making PRs and in code review is adding new files to either MANIFEST or MANIFEST.SKIP. We should have Travis test that - preferably as part of the usual test suite.

[2018-08-16 15:25] matsduf commented on #430
This issue is in Zonemaster-Engine, but we have the same problem in all repos.

[2018-09-14 13:32] mattias-p opened #438 "Cannot differentiate between REFUSED and no response"
Zonemaster::Engine::Nameserver::query returns `undef` for both DNS responses with status REFUSED and timeout (i.e. no response). In effect it's impossible for test cases to differentiate between those two conditions.

[2018-10-04 10:01] mattias-p opened #440 "Configurable levels in DNSSEC module"
Today the levels of the DNSSEC messages are hardcoded. The other modules allow the user to override their message levels. It must be possible to override the DNSSEC message levels with the usual mechanism.

[2018-10-18 15:01] sandoche2k opened #442 "Zonemaster wrongly does EDNS0 tests"
https://zonemaster.net/result/d1645a013e813d12

A related issue is opened here : https://github.com/zonemaster/zonemaster/issues/640

[2018-10-18 17:01] pspacek commented on #442
Yeah, the result seems to be incorrect. Results from ednscomp are here: https://ednscomp.isc.org/ednscomp/482552aa23

[2018-11-01 13:43] matsduf opened #443 "Stop Engine from reporting config and policy in message"
Engine, in SYSTEM module, reports what config and policy has been loaded. The message includes full path. In CLI it looks the following:

[code]
Since those are just messages among other messages they go out via Backend and GUI. To prevent the leakage of file system information, the Backend tries to filter it out, but with mixed result. See issue zonemaster/zonemaster-backend#448.

The best work-a

[2018-11-01 14:47] pawal commented on #443
I would rather not remove this information, since it essential for other applications to know what policy was used. If you want to remove such information, filter out the SYSTEM module.

[2018-11-01 17:13] matsduf commented on #443
I respect your comment, but filtering out the SYSTEM module is not the answer.

What is your need? What if you can get the information with another call to the Engine API? Or are you using CLI? CLI already reports if you select another config or policy by option `--config` or `--policy`.

Do you need to know the file name, or do you want the actual policy/config? There is a `--dump_config` and `--

[2018-11-07 12:44] matsduf opened #445 "Script to migrate config + policy to profile"
In issue #386 we have an upcoming update where config and policy are replaced by a profile. This change will be breaking. To make migration easier we have to create a script that can take a config file and a policy file and convert those into a profile file of the new format.

[2018-11-21 12:55] mattias-p opened #450 "Commented out code in tests"
Commented out code has been spotted in the `t/` directory. All of `t/` should be checked for commented out code and each piece should be either:
* Reinstated
* Deleted
* Annotated with a comment that describes what it is and states a condition for when it can be removed

[2018-12-03 14:12] sandoche2k commented on #236
@matsduf Need to check whether we can update the methods. We will discuss during the F2F.

[2018-12-03 14:49] matsduf commented on #236
We need an updated specification of Delegation05 and then an implementation of that.

[2018-12-04 10:04] mattias-p opened #451 "Avoid installing dependencies from CPAN in installation instruction"
For CentOS we're relying on CPAN for some runtime dependencies. This increases the burden of packaging Engine for CentOS.
The dependencies in question are:
* Locale::TextDomain - [Locale::TextDomain] 1.20 (perl-libintl) is available in CentOS but Engine requires 1.23. We should lower the requirement and add workarounds as needed.
* Mail::RFC822::Address - We should look into the possibility of mig

[2018-12-04 10:19] matsduf commented on #451
We get translation issues with lower versions of Locale::TextDomain. 1.23 was the lowest version that we verified that is works. I might be enough with 1.21, but 1.20 is too low.

[2018-12-04 10:38] matsduf commented on #451
p5-Net-IP-XS version 0.21 is available on FreeBSD as a package.

[2018-12-04 10:42] mattias-p commented on #451
Thanks @matsduf! I didn't realize the FreeBSD Ports Search was case sensitive.

[2018-12-04 11:44] matsduf commented on #451
I suggest that this issue is renamed to cover all four OSs and be structed in the same way as the start of the description of zonemaster/zonemaster-backend#449. In that way we can synchronize between the OSs.

[2018-12-04 12:17] matsduf opened #452 "Keep profile data in one place"
In the new Profile.pm, currently in the profiles branch, it is stated

[code]

Remove the specific domains, i.e. do not hard code in the Perl module, instead put the data in the same place as all other profile data, in this case in the default profile file.

[2018-12-04 12:20] #452 closed

[2018-12-05 13:22] jelu commented on #442
Ping! Note that https://dnsflagday.net/ is approaching and it would be good if Zonemaster test correctly.

cc @matsduf

[2018-12-05 13:55] sandoche2k commented on #442
We have discussed internally and we hope to implement the complete test before the end of january.

[2018-12-07 15:44] mattias-p opened #453 "Inconsistent messages regarding net.ipv4 and net.ipv6"
Some test cases emit all of IPV4_DISABLED, IPV6_DISABLED, IPV4_ENABLED and IPV6_ENABLED (depending on circumstances) while other test cases only ever emit IPV4_DISABLED and IPV6_DISABLED.

Connectivity01 is an example of a test case that never emit IPV*_ENABLED. Basic02 is an example of a test cases that do emit IPV*_ENABLED.

We should make up our minds on whether the IPV*_ENABLED messages are us

[2018-12-07 15:53] mattias-p opened #454 "Special key DISABLED in test_levels"
The `test_levels` option supports a special key `DISABLED`. It's somewhat similar to the `test_cases` option but works on the the module level. The `DISABLED` key is undocumented and to my knowledge the only place it is used is in the "disabled" "Example" in policy.json/profile.json.

If this feature is worth its weight, it should be documented.

See also #456.

[2018-12-10 10:12] mattias-p opened #455 "Helpers for net.ipv4 and net.ipv6 checks"
Today each test case generates IPV4_DISABLED for each IPv4 address that was ignored because of `net.ipv4`, and likewise for IPv6. These checks are repeated a lot and not so readable (i.e. `not Zonemaster::Engine::Profile->effective->get(q{net.ipv6}) and $ns->address->version == $IP_VERSION_6`). We should consider adding a helper function for these checks.

[2018-12-10 10:17] mattias-p opened #456 "Remove "Example" from {profile/policy}.json"
The "Example" entry in {profile/policy}.json serves no purpose and should be removed.

[2018-12-10 17:14] mattias-p opened #457 "Make it possible to `use Zonemaster::Engine` in development context"
Today you can't `use Zonemaster::Engine` unless it's installed. I.e. you cannot use `perl -I` to point out a development version of Engine. This is inconvenient when you want to develop Engine and CLI on the same machine.

If the Zonemaster-Engine distribution isn't installed, dist files should be sought under the source repo instead of the installed dist file directory.

[2019-01-08 14:00] matsduf opened #461 "Better documentation of "fallback""
With PR #460 a function "fallback" has been introduced. It needs better documentation. Specifically it must be documented what "automatically resent over (...) using EDNS" means.

[2019-01-09 12:53] mattias-p opened #466 "Problem with ZONEMASTER_RECORD"
When I run `ZONEMASTER_RECORD=1 prove -Ilib` I get a whole lot of these:
[code]

Edit: Maybe I'm using an old version of Zonemaster::LDNS.

[2019-01-09 13:35] vlevigneron commented on #466
I do not see that. Here is my results (just the beginning, perhaps I should run the whole test suite...). There are some issues but it is just because that some 'intentionally broken zone' are no longer 'broken'... :-)

[code]

[2019-01-10 09:41] matsduf opened #467 "IN_BAILIWICK_ADDR_MISMATCH should give more information"
Test Case [Consistency05] (as currently in the develop branch) returns the message IN_BAILIWICK_ADDR_MISMATCH when there is a mismatch of the IP address for an in-bailiwick name server between delegation and authoritative zone. It then returns the names and IP addresses of the name servers as stated in the delegation but information on what has been found in the authorititative zone is not listed,

[2019-01-10 10:04] matsduf opened #468 "Implementation of Consistency05 gives false failure of mismatching addresses"
A test version of TLD .fi has been set-up. The intended delegation contains name server names a.nic.fi and b.nic.fi. The new zone has a delegation of nic.fi to other name servers. This nic.fi is also a test version. The names a.nic.fi and b.nic.fi are correctly defined with A and AAAA records.

[Consistency05] (currently in develop branch) must go into the test version of nic.fi to verify the IP a

[2019-01-10 14:31] mtoma opened #469 "A Perl 5.20 specific issue in zonemaster-engine"
The new profiles branch has an issue with some JSON value specific to the version of JSON in Perl 5.20 as can be seen in:
https://travis-ci.org/zonemaster/zonemaster-backend/builds/477783002

Error:  Property resolver.defaults.fallback is of type Boolean at /tmp/local-lib-pZVpnQ/lib/perl5/Zonemaster/Engine/Profile.pm line 225

The same code passes the tests with all other versions of Perl.

In pre

[2019-01-11 09:53] vlevigneron commented on #469
I'm not able to reproduce it.
[code]

[2019-01-11 11:36] vlevigneron commented on #469
It seems that nobody can reproduce the issue which is still present in Travis. First I'll propose a patch that provide a more detailed output in case of die. It could help to understand what's wrong and what should be changed in the code to deal with that issue.

[2019-01-15 08:38] vlevigneron commented on #469
The issue should be fixed by https://github.com/zonemaster/zonemaster-engine/pull/472

[2019-01-17 20:50] sandoche2k commented on #469
@mtoma could be closed ?

[2019-01-17 20:50] sandoche2k opened #476 "issue when running zonemaster in Debian"
zonemaster-cli afnic.fr
Can't locate object method "effective" via package "Zonemaster::Engine::Profile" (perhaps you forgot to load "Zonemaster::Engine::Profile"?) at /usr/local/share/perl/5.20.2/Zonemaster/CLI.pm line 311, <DATA> line 20.

[2019-01-18 08:06] #469 closed

[2019-01-18 09:56] vlevigneron commented on #476
@sandoche2k Could you please execute `zonemaster-cli --version` and send result please ?

[2019-01-18 11:08] sandoche2k commented on #476
zonemaster-cli --version
CLI version:    v1.2.2
Engine version: v2.0.7

Test module versions:
	Address: v1.0.3
	Basic: v1.0.7
	Connectivity: v1.0.9
	Consistency: v1.1.2
	DNSSEC: v1.0.7
	Delegation: v1.0.8
	Example: v1.0.3
	Nameserver: v1.0.12
	Syntax: v1.0.3
	Zone: v1.0.3

[2019-01-18 11:38] vlevigneron commented on #476
Engine version should be 2.0.12. Check if develop branch is well installed. It should fix the issue.

Envoyé depuis iHeure

[2019-01-18 12:08] sandoche2k commented on #476
I have followed the method here to prepare the tar.gz file : https://github.com/sandoche2k/zonemaster/blob/834319f1d1d2e7b7b33108b02df2b009e41fc53a/docs/internal-documentation/distrib-testing/Centos-preparation.md

What i got after is : Zonemaster-Engine-v2.0.12.tar.gz
I copied the tar file to a new installed version of Debian and did a sudo cpanm Zonemaster-Engine-v2.0.12.tar.gz

The error that w

[2019-01-18 13:47] vlevigneron commented on #476
@sandoche2k It should work. but here is the result you should obtain :+1:

[code]
I follow the same procedure (but on fedora), and I get the correct tar.gz. You should check there is no other version installed.

[2019-01-18 14:34] #476 closed

[2019-01-18 14:41] sandoche2k commented on #430
@mattias-p can this issue be closed?

[2019-01-18 14:52] sandoche2k opened #477 "Issue while installing zonemaster engine"
[code]

[2019-01-18 18:41] sandoche2k opened #479 "Remove iana-profile.json"
Remove iana-profile.json from MANIFEST

[2019-01-18 18:52] sandoche2k commented on #477
I have applied the patch. Now i got another error
[code]

[2019-01-18 21:31] sandoche2k commented on #477
I have the same issue after patching with your updates . I am adding a more detailed report

[code]

[2019-01-18 22:06] #477 closed

[2019-01-18 22:29] sandoche2k opened #480 "edns fails for afnic.fr ... seems to be false alert"
From Zonemaster CLI:
[code]
But EDNS compliance testing passes : https://ednscomp.isc.org/ednscomp/87d77657eb

[2019-01-18 22:53] vlevigneron commented on #480
I just did a test and ran wireshark. What I can observe is that we send a packet with EDNS version 1 (which is not a valid vesion number) then we get an answer with NOERROR. According to the specs, the message you have is what is expected.

[2019-01-18 22:56] sandoche2k commented on #480
I did a dig and i do not get that
[code]

[2019-01-18 22:58] sandoche2k commented on #480
[code]

[2019-01-18 23:32] vlevigneron commented on #480
OK, I got it, Extended RCODE are not processed the same way in LDNS. I have to check both rcode and edns-rcode to compute RCODE value (perhaps we could improve specs to disambiguate that).

[2019-01-18 23:35] sandoche2k commented on #480
I do not see how i could improve the specs "https://github.com/zonemaster/zonemaster/blob/develop/docs/specifications/tests/Nameserver-TP/nameserver10.md"

Any inputs?

[2019-01-18 23:46] vlevigneron commented on #480
@sandoche2k perhaps make a reference to both https://tools.ietf.org/html/rfc6891#section-9 and https://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml#dns-parameters-6.

[2019-01-19 00:02] sandoche2k commented on #480
So, if i understand clearly, you want a reference to the RCODE BADVERS in Nameserver10?

[2019-01-21 08:00] mattias-p commented on #430
@sandoche2k Don't you think it would be useful? Or has it already been implemented and I'm just not aware of it?

[2019-01-22 12:47] sandoche2k opened #483 "edns timeout is not captured by zonemaster"
Below the test result from DNS flag day tool :
https://ednscomp.isc.org/ednscomp/e2cdf14ee9

And result from Zonemaster below:
[code]

[2019-01-22 16:32] vlevigneron commented on #483
Isn't it related to https://github.com/zonemaster/zonemaster-engine/issues/438 ? If not, in which specific test case are we supposed to get a specific message for that ?

[2019-01-22 16:46] matsduf commented on #483
What do you mean by "EDNS timeout"? If a server does not respond then you do not know anything about its EDNS status.

[2019-01-22 20:00] sandoche2k commented on #483
@matsduf The timeout occurs when you send a query with edns version other than '0'.  With a query with edns version '0', i did get a response.
Now, it seems they (irisa.fr) have corrected the issue.
So, how does one differentiate a noresponse occurred due to edns @matsduf ?

[2019-01-23 09:03] sandoche2k commented on #480
Ok.. I will add that for the respective specifications.

[2019-01-24 11:19] sandoche2k opened #484 "missing file in makedistcheck"
sandoche@vps323915:~/zonemaster-engine$ make distcheck
"/usr/bin/perl" "-Iinc" "-MExtUtils::Manifest=fullcheck" -e fullcheck
No such file: share/iana-profile.json
Not in MANIFEST: docs/Profiles.md
Not in MANIFEST: share/config_example_logfilter.json
Not in MANIFEST: t/Test-consistency05-K.data
Not in MANIFEST: t/Test-consistency05-K.t
Not in MANIFEST: t/Test-consistency05-L.data
Not in MANIFEST: t

[2019-01-24 14:13] sandoche2k opened #486 "Do we need to add the langnaue file sv.po ... in the MANIFEST?"
[code]

[2019-01-24 14:25] vlevigneron commented on #486
@sandoche2k  it's already the case (if I understand your concern).

[2019-01-24 14:30] sandoche2k commented on #486
@vlevigneron i was searching for the .po files.

[2019-01-24 14:30] #486 closed

[2019-01-24 16:40] #484 closed

[2019-01-25 09:45] vlevigneron opened #488 "Add documentation and Unit test for zonemaster/zonemaster-engine#487"
Explain why we have a Hack and add unit tests for non regression on this hack.
See  zonemaster/zonemaster-backend#476 and  zonemaster/zonemaster-engine#487

[2019-01-25 11:02] matsduf opened #489 "Wrong additional section counter"
The OPT record is stored in the additional section of the DNS packet, and the additional section RR count includes the OPT record. The count is found in the header. The following excerpt from `zonemaster-cli google.com --test nameserver --level debug3` shows that Zonemaster gives wrong figure of the count:

[code]

[2019-01-25 12:49] sandoche2k commented on #479
Done

[2019-01-25 12:49] #479 closed

[2019-01-25 13:00] sandoche2k commented on #480
Refer to https://github.com/zonemaster/zonemaster/issues/668

[2019-01-25 13:01] matsduf commented on #483
We should update the spec of NAMESERVER10 so that it does the same thing as NAMESERVER02.

[2019-01-25 13:01] sandoche2k commented on #483
And add an issue in Zonemaster - Todo

[2019-01-25 13:05] matsduf commented on #468
Fixed by #470.

[2019-01-25 13:05] #468 closed

[2019-01-25 13:09] matsduf commented on #466
Fixed by #473.

[2019-01-25 13:09] #466 closed

[2019-01-29 14:24] #480 closed

[2019-02-08 17:51] vlevigneron opened #501 "Complete Zonemaster::Nameserver::query method $flagref documentation"
- `edns_details` which is used in Zonemaster::Engine::Test::Nameserver needs documentation.

[2019-03-01 07:07] sandoche2k commented on #383
@mattias-p closed?

[2019-03-01 07:08] sandoche2k commented on #445
@matsduf can we have an assignee to create this script?

[2019-03-01 07:09] sandoche2k commented on #324
@mattias-p Is this issue still relevant?

[2019-03-08 10:42] mattias-p commented on #324
@matsduf, @sandoche2k I updated the test code with informational print lines to make it clearer. This issue has not been fixed.

[2019-03-08 10:47] #383 closed

[2019-03-13 09:27] sandoche2k opened #504 "Some nameservers are not resolved from Zonemaster, even though they were accessible"
https://zonemaster.net/result/b2fe4826d3fc1244

For the domain "myriam-kassem.fr", zonemaster had a nameserver warning saying that NS (ns200.anycast.me/46.105.207.200) for the domain was not accessible. But, when a dig request was made from the ZM VPS, for the same NS, it was resolving.

The issue was identified by @vlevigneron as an old code has been put in place to evict servers that were not re

[2019-03-13 09:29] sandoche2k commented on #504
Related to the BUG https://github.com/zonemaster/zonemaster-engine/issues/438

[2019-03-13 09:48] vlevigneron commented on #504
Well, here is what I found out.
We have a blacklisting mechanism that prevents query multiple times servers that do not respond.
The servers ns200.anycast.me/dns200.anycast.me are blacklisted because they answer REFUSED to a '.' query. It's their right.
The issue is that we have the zonemaster/zonemaster-engine#438 BUG that does not make a difference between unreachable and REFUSED responses.

IMH

[2019-03-13 10:37] sandoche2k commented on #407
@mtoma this is a recurrent issue for all components. Can you check whether we need to really replace travis

[2019-03-13 10:38] sandoche2k commented on #308
@matsduf @sandoche2k to check and update the specification

[2019-03-13 10:41] sandoche2k commented on #293
@vlevigneron we did discuss about this issue. But I do no recall the decision. Do you think this issue is still valid?

[2019-03-13 10:47] sandoche2k commented on #227
TC to be created @sandoche2k @matsduf

[2019-03-13 10:51] sandoche2k commented on #217
@vlevigneron Is this issue still valid?

[2019-03-13 10:52] sandoche2k commented on #200
@vlevigneron as the profile is completed ... can we configure RRSIG expiration parameter?

[2019-03-13 10:53] sandoche2k commented on #191
@matsduf @mattias-p, please indicate the conclusion of your investigation

[2019-03-13 10:54] sandoche2k commented on #189
@vlevigneron is this issue still valid?

[2019-03-13 13:10] matsduf commented on #189
@sandoche2k, can you clarify the issue? You state "When the AXFR test is done without the network, it is not possible to record the data" and that sounds like it should be since it is never possible to record data without network.

[2019-03-13 15:54] mattias-p opened #505 "Test failure on questionable JSON serialization of profile"
[code]

I looked into what's going on, and here's my conclusion.

`Zonemaster::Engine::Profile::set` validates its argument value to see if it looks like an integer. If the value hasn't already been converted to a string the validation steps cause Perl to convert it behind the scenes and update some "internal" flags on the value.

`Zonemaster::Engine::Profile::to_json` calls `JSON::PP::encode_json

[2019-03-14 07:24] sandoche2k commented on #505
@vlevigneron can you verify the modif made by @mattias-p

[2019-03-14 07:29] sandoche2k commented on #189
@matsduf frankly speaking, I do not remember the origin of the issue. I think I added it during a meeting. If @vlevigneron also do not know the origin of the issue we can close it for now.

[2019-03-14 08:45] mattias-p opened #507 "Travis cannot build master branch with breaking changes in LDNS develop branch"
Travis cannot build master branch with breaking changes in LDNS develop branch. This is a problem when we want to make a bug-fix release after introducing breaking changes in the LDNS develop branch. This problem was discovered in #506.

Reasonably the Engine master branch should depend on the LDNS master branch. I believe this could be solved by using the TRAVIS_BRANCH environment variable in the

[2019-03-14 09:45] sandoche2k commented on #504
@vlevigneron remove the blacklisting for now and close the issue. Also, create a new issue to put the blacklisting again.

[2019-03-14 09:54] sandoche2k commented on #445
@vlevigneron to create a PR with the script

[2019-03-14 09:56] matsduf commented on #445
The script is there  as zonemaster-engine/util/convert_config_to_profile.pl

[2019-03-14 09:56] sandoche2k commented on #445
@matsduf test the script and close the issue

[2019-03-14 16:01] #507 closed

[2019-03-14 16:01] #505 closed

[2019-03-15 09:59] matsduf opened #513 "Blacklisting of name servers that do not respond on EDNS queries"
There is a function in Engine that blacklists name servers that do not respond. The reason behind that is that it takes time to timeout, and instead of waiting for the same name server not responding several times Engine waits once and remember it.

There are name servers that do not respond on queries with OPT record (instead of returning FORMERR). We do not want to blacklist those. It could be p

[2019-03-15 10:46] vlevigneron commented on #513
In fact we, as we do for the cache, we blacklist partially a nameserver. For instance, we can blacklist only TCP, not UDP. We can add the same mechanism for EDNS. We just have to pay attention to have few criteria if we want that the mechanism is still efficient.

[2019-03-15 13:23] vlevigneron commented on #467
@matsduf I just started to look at that. I noticed (but perhaps is is what we want), that there is no messages specified for IN_BAILIWICK_ADDR_MISMATCH and OUT_OF_BAILIWICK_ADDR_MISMATCH cases. Is it something we decided in a past discussion ?

[2019-03-15 13:30] vlevigneron commented on #467
In this specific case (aka IN_BAILIWICK_ADDR_MISMATCH), it lists what is found in parent zone AND is missing from child.
Perhaps we could add, as an information, without change the current messages and there content, list of servers/IPs found in delegation AND list of servers/IPs found in authoritative zone.

[2019-03-15 13:47] matsduf commented on #467
No, there should be messages for IN_BAILIWICK_ADDR_MISMATCH and OUT_OF_BAILIWICK_ADDR_MISMATCH, respectively. What you want in "mismatch" is something like "found in parent, found in zone".

[2019-03-15 13:49] vlevigneron commented on #467
OK, I can do that.

[2019-03-15 14:08] vlevigneron commented on #467
Perhaps it needs to be refined, but tell me if the corresponding PR is more or less what you have in mind.

[2019-03-18 10:59] matsduf opened #516 "Split message BROKEN_EDNS_SUPPORT in Nameserver02"
There are three different sub-cases in Nameserver02 that are tagged with BROKEN_EDNS_SUPPORT in the implementation, which prevents us from writing good messages for the users to be able to differentiate.

The specification has now been updated, which splits that message into three different messages throug zonemaster/zonemaster#749, which has been merged. See [Nameserver02] in develop branch.

Upd

[2019-03-19 07:49] matsduf commented on #467
Fixed by #515.

[2019-03-19 07:49] #467 closed

[2019-03-19 08:04] matsduf commented on #504
Fixed by #511.

[2019-03-19 08:04] #504 closed

[2019-03-21 09:10] sandoche2k commented on #445
@matsduf close?

[2019-03-21 09:12] matsduf commented on #445
The script is there and has been improved by #512.

[2019-03-21 09:12] #445 closed

[2019-03-21 09:25] vlevigneron opened #518 "Danish translation for EDNS messages"
Related to zonemaster/zonemaster-engine#517

[2019-03-21 09:45] sandoche2k commented on #516
@matsduf to review and @vlevigneron close after his review

[2019-03-21 09:50] sandoche2k commented on #488
@vlevigneron to write some text explaining the issue

[2019-04-08 07:46] sandoche2k commented on #516
@matsduf pls. review

[2019-04-08 08:17] matsduf commented on #516
Solved by #517.

[2019-04-08 08:17] #516 closed

[2019-04-09 13:20] sandoche2k opened #520 "IPv6 only domains should emit warning and not error"
https://www.zonemaster.net/result/698f292054b0dd1e

Also it should be discussed what messages to emit when the IPv4 option is turned off

[2019-04-09 13:21] sandoche2k opened #521 "DNSSSEC results disappeared from the zonemaster tests"
https://zonemaster.net/result/24bda7791431e976

I do not see the DNSSEC tests in the result

Same test with https://zonemaster.iis.se/?resultid=8b4037efc3192fb4 shows DNSSEC results

With the CLI from the zonemaster.net server

[code]

[2019-04-09 13:53] sandoche2k opened #522 "Should get the addresses in the messages"
https://www.zonemaster.net/result/f934eb7fc6530117

Child does not list enough (1) nameservers that
resolve to IPv6 addresses ({addrs})

[2019-04-09 13:53] sandoche2k opened #523 "Should get the addresses in the messages"
https://www.zonemaster.net/result/f934eb7fc6530117

Child does not list enough (1) nameservers that
resolve to IPv6 addresses ({addrs})

[2019-04-09 14:08] sandoche2k opened #524 "Output message not comprehensible"
https://www.zonemaster.net/result/75f85c13e5adc2f3
[code]

[2019-04-09 15:52] matsduf commented on #524
1. What is missing for all messages is what Test Case that has outputted it.
2. The message is fine as a short message including the parameters. We should add a short description for each message. The description should not be printed by default, only on request (e.g. by clicking on the message).